<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		
		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
		{{! load web fonts }}
		<script src="//use.typekit.net/mjq2gph.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
	
	</head>
	<body class="{{ bodyClass }}">	
		