<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		
		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		{{! vendor JS }}
		<script src="..\..\js\jquery.fitvids.js"></script>
		{{! load web fonts }}
		<script src="//use.typekit.net/mjq2gph.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		{{! vendor styles }}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
	
	</head>
	<body class="{{ bodyClass }}">	
		