
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	</body>
	<script>
		$(document).ready(function(){
			$(".vid-container").fitVids();
		});
	</script>
	<script src="../../js/prod.min.js"></script>
</html>