{{> organisms-header }}
<div class="page-header">
	<h1 class="page-title">FUNERALS AT SAINT SOPHIA CATHEDRAL</h1> {{! Alt. Sacraments and Services }}
	<p class="page-intro">WHEN SOMEONE YOU LOVE DIES</p>
</div>
<div class="main-body">
	<div class="callout-notice">
		<p>When a loved one dies, please contact us immediately. Please call:</p>
		<div class="text">
			<ul>
				<li>Father John Bakas (323-868-0595) or</li>
				<li>Father Allan Boyd (323-868-0596) </li>
			</ul>
		</div>
	</div>
	<img src="../../images/dormition_icon.jpg" alt="Image of the icon of the Dorimition of the Theotokos" />
	<blockquote>
		<p>Blessed ever be the way, the way on which you walk this day, for there is prepared for you a place of everlasting rest.</p>
		<cite class="citation">~ Hymn from the Orthodox funeral service</cite>
	</blockquote>
	<h1>Preparation</h1>
	<p>In preparation for the funeral, you should make sure to do the following items:</p>
	{{! TODO Convert to a proper list }}
	<div class="text">
		<ul>
			<li>
				<div>Mortuary/Funeral Director</div>
				<p>Choose the mortuary/funeral director you will be using and contact them. (We highly recommend <a href="http://chapmanfuneralcare.com/">Terry &amp; Mary Harmon with Chapman Funeral Directors</a> – (855) 628-0447 <a href="mailto:ChapmanFunerals@aol.com">ChapmanFunerals@aol.com</a>. They are quite fair and are very familiar with our cathedral and Orthodox Christian customs.) They are happy to meet families in the comfort of their own home; at the cathedral office; or at one of their mortuary sites. (FYI: Your selection of a mortuary/funeral director does not limit your selection of a cemetery, each of whom will work with any mortuary you choose.)</p>
				<p><strong><mark>NOTE:Cremation is not an option if one wishes to have an Orthodox Funeral Service.</mark></strong> Our tradition as Orthodox Christians is to bury the dead. Out of deep respect and reverence, the body of the deceased is placed in a casket and set in a grave. This deep respect is given because Saint Paul describes every Christian’s body as “a temple of the Holy Spirit” (1 Corinthians 6:19). Thus, it is returned to the earth from which it was taken (Genesis 2:7).</p>
			</li>
		</ul>
	</div>

	...
	<h1>Perspective</h1>
	<p>The Church Fathers suggest that there is no greater freedom than to live life with a healthy relationship with death. The more we embrace the mystery of our own mortality, the more we see the need to avail ourselves of becoming ever more united with God through His Son. We begin to look deeper into things: our lives, our relationships, and the mystery of Jesus Christ. We value these things more and are moved toward mindful, wholehearted living.</p>
	<blockquote>
		<p>“It is better to go to a house of mourning than to go to a house of feasting, for death is the destiny of everyone; thus, the living should take this to heart.”</p>
		<cite class="citation">~ Ecclesiastes 7:2</cite>
	</blockquote>
	<p>An Orthodox Christian funeral conveys a person's entire life and death in the context of our faith in the Crucified and Risen Christ. It also enables family and friends to gather together to begin the process of accepting the painful reality of death and express their love, grief and support for one another.</p>
	<img src="../../images/resurrection.jpg" alt="Image of the icon of the Resurecction of Christ" />
	<blockquote>
		<p>“Remember your own last days and set hostility aside. Remember death and decay and cease from sin!”</p>
		<cite class="citation">~ The Wisdom of Sirach 28:6</cite>
	</blockquote>
</div>
{{> organisms-footer }}