{{> organisms-header }}
{{> molecules-page-header }}
<div class="main-body">
	<div class="callout-notice">
		<div class="text">
			<h2>When a loved one dies, please contact us immediately</h2>
			<ul>
				<li>Father John Bakas (323-868-0595)<br/> or</li>
				<li>Father Allan Boyd (323-868-0596) </li>
			</ul>
		</div>
	</div>
	<div class="text">
		<img src="../../images/dormition_icon.jpg" alt="Image of the icon of the Dorimition of the Theotokos" />
		<blockquote>
			<p>Blessed ever be the way, the way on which you walk this day, for there is prepared for you a place of everlasting rest.</p>
			<cite class="citation">~ Hymn from the Orthodox funeral service</cite>
		</blockquote>
		<h2>Preparation</h2>
		<p>In preparation for the funeral, you should make sure to do the following items:</p>
		{{! TODO Convert to a proper list }}

		<div class="text">
			<ul class="checkboxes">
				<li>
					<h2>Mortuary/Funeral Director</h2>
					<p>Choose the mortuary/funeral director you will be using and contact them. (We highly recommend <a href="http://chapmanfuneralcare.com/">Terry &amp; Mary Harmon with Chapman Funeral Directors</a> – (855) 628-0447 <a href="mailto:ChapmanFunerals@aol.com">ChapmanFunerals@aol.com</a>. They are quite fair and are very familiar with our cathedral and Orthodox Christian customs.) They are happy to meet families in the comfort of their own home; at the cathedral office; or at one of their mortuary sites. (FYI: Your selection of a mortuary/funeral director does not limit your selection of a cemetery, each of whom will work with any mortuary you choose.)</p>
					<p><strong><mark>NOTE:Cremation is not an option if one wishes to have an Orthodox Funeral Service.</mark></strong> Our tradition as Orthodox Christians is to bury the dead. Out of deep respect and reverence, the body of the deceased is placed in a casket and set in a grave. This deep respect is given because Saint Paul describes every Christian’s body as “a temple of the Holy Spirit” (1 Corinthians 6:19). Thus, it is returned to the earth from which it was taken (Genesis 2:7).</p>
				</li>
				<li>
					<h2>Cemetery</h2>
					<p>Choose the cemetery where you wish your loved to be buried and contact them to make the necessary arrangements: the choosing and purchasing of a burial plot, headstone, etc.</p>
				</li>
				<li>
					<h2>Burial Clothes</h2>
						<p>Bring a set of clothes (suit/dress and underclothes) for your loved one to the mortuary for them to be buried in. Sometimes a recent photo of the deceased will be requested by the mortuary to be used in their preparation of the body for the funeral.</p>
				</li>
				<li>
					<h2>Casket</h2>
					<p>Choose a casket. (FYI: Our tradition as Orthodox Christians is that the casket normally be open during services at the Church. Consult with the clergy regarding the open casket.)</p>
				</li>
				<li>
					<h2>Memorial Cards</h2>
					<p>Choose icon memorial cards and a guest book for those attending services. These are usually provided by the Mortuary/Funeral Director.</p>
				</li>
				<li>
					<h2>Obituary Info</h2>
					<p>Be prepared to offer the Mortuary the information they’ll need for obituary notices both in print and online.</p>
				</li>
				<li>
					<h2>Death Certificates</h2>
					<p>The Mortuary will ask about the number of death certificates that need to be ordered from the State for legal and financial purposes such as insurance policies, veterans and social security benefits, etc. Normally, 5-10 death certificates will be needed.</p>
				</li>
				<li>
					<h2>Pallbearers</h2>
					<p>Choose six strong pallbearers.</p>
				</li>
				<li>
					<h2>Florist</h2>
					<p>Choose a florist. (NOTE: In times past, thousands of dollars might be spent on flowers for a funeral. As Orthodox Christians, we believe it is far more consistent with our values to choose a charity for memorial donations to be made. Many people choose to offer donations to Saint Sophia Cathedral in memory of their loved one.)</p>
				</li>
				<li>
					<h2>Set Service Times</h2>
					<p>In conjunction with the Church and mortuary, set the days and times for:</p>
					<ul>
						<li>
							<h3>The Trisagion</h3>
							<p>The Trisagion the night before the funeral service is usually held in the cathedral at 7 or 7:30PM; the Trisagion is a brief memorial service, no more than 10-15 minutes in length. Aside from offering prayers of love and respect for the departed, the time surrounding this service offers friends and loved ones an extended opportunity to view the deceased.</p>
							<p>After the Trisagion service, our cathedral’s custom is to allow the departed to remain upon the solea “lying in state” throughout the night, facing the altar, in the ever-loving embrace of the Theotokos until the funeral the next morning.</p>
						</li>
						<li>
							<h3>The Funeral</h3>
							<p>The Orthodox Funeral Service is held the next day at the cathedral (usually 10:30 or 11AM) and is approximately an hour long.</p>
						</li>
					</ul>
				</li>
				<li>
					<h2>The Makaria, or Meal of Blessing</h2>
					<p>Following a funeral service at Saint Sophia Cathedral, it is customary to invite everyone to a Meal of Blessing. Questions to be asked about this Makaria: Where will it be held? Will it be held at our cathedral’s Maniatakos Pavilion or Banquet Hall, a restaurant, or someone's home? Will a caterer be used? (If you wish to reserve one of our rooms and arrange for a caterer please call the cathedral office at 323-737-2424 and ask for John Kopatsis.)</p>
					<p>(FYI: The Orthodox Christian tradition is for the main dish at the Makaria to be some kind of fish. This is because the first meal that the Lord Jesus ate with His disciples following His resurrection from the dead consisted of broiled fish and bread, as recorded in the Gospel of John 21:12-13. This meal is a reminder of Christ’s resurrection and His closeness to those who believe in Him. It is not appropriate to serve meat at a Makaria.)</p>
				</li>
				<li>
					<h2>The Internment</h2>
					<p>Following the Funeral Service held at the cathedral, the deceased is taken to the cemetery where another Trisagion is prayed at the graveside. The deceased is then lowered into his/her grave to await the Second Coming of Christ and, as we confess in the Creed at every celebration of the Liturgy, "the resurrection of the dead and the life of the age to come."</p>
				</li>
			</ul>
		</div>
		<h2>Perspective</h2>
		<p>The Church Fathers suggest that there is no greater freedom than to live life with a healthy relationship with death. The more we embrace the mystery of our own mortality, the more we see the need to avail ourselves of becoming ever more united with God through His Son. We begin to look deeper into things: our lives, our relationships, and the mystery of Jesus Christ. We value these things more and are moved toward mindful, wholehearted living.</p>
		<blockquote>
			<p>“It is better to go to a house of mourning than to go to a house of feasting, for death is the destiny of everyone; thus, the living should take this to heart.”</p>
			<cite class="citation">~ Ecclesiastes 7:2</cite>
		</blockquote>
		<p>An Orthodox Christian funeral conveys a person's entire life and death in the context of our faith in the Crucified and Risen Christ. It also enables family and friends to gather together to begin the process of accepting the painful reality of death and express their love, grief and support for one another.</p>
		<img src="../../images/resurrection.jpg" alt="Image of the icon of the Resurecction of Christ" />
		<blockquote>
			<p>“Remember your own last days and set hostility aside. Remember death and decay and cease from sin!”</p>
			<cite class="citation">~ The Wisdom of Sirach 28:6</cite>
		</blockquote>
	</div>
</div>
{{> organisms-footer }}