{{> organisms-header }}
<div class="page-header">
	<h1 class="page-title">Adult Education at Saint Sophia Cathedral</h1> {{! Alt. Sacraments and Services }}
	<p class="page-intro">A description of the above summary</p>
</div>
<div class="lc">
	<div class="g g-1up">
		<div class="gi">
			<div class="block block-thumb">
				<div class="b-inner">
					<div class="b-thumb">
						<img src="../../images/emmaus_cropped-1x1_600.jpg" alt="">
					</div>
					<div class="b-text">
						<h2 class="b-title">Life in Faith Studies</h2>
						<div class="byline">with Father John Bakas</div>
						<p>On the Road to Emmaus (Luke 24:13-35), in the two disciples’ post-resurrection encounter with Jesus, He explained the scriptures to them, “causing their hearts to burn within them”—similarly, these classes also bring the scriptures and the practices of the Church into your heart as a living flame.  You'll have a chance to ask Fr. John questions and engage in lively discussions with your fellow parishioners in a casual setting. </p>
						<p>The Women’s Faith Studies Class will meet in the chapel  on Mondays at 11:00am. <a href="{{ url }}" class="cta">Register For The Women’s Class Here </a></p>
						<p>The Men’s Faith Studies Class meets Wednesdays at 11:00am.  <a href="{{ url }}" class="cta">Register For The Men’s Class Here</a></p>
					</div>
				</div>
			</div>
			<hr/>
		</div>
		<div class="gi">
			<div class="block block-thumb">
				<div class="b-inner">
					<div class="b-thumb">
						<img src="../../images/colorful-sheep_cropped-1x1_600.jpg" alt="">
					</div>
					<div class="b-text">
						<h2 class="b-title">The WHYs of Orthodox Belief &amp; Practice</h2>
						<div class="byline">with Father Allan Boyd</div>
						<p>For those wishing to become Orthodox –AND- for those who have been Orthodox their whole lives, but wish to experience their Faith more meaningfully. This class offers you an expanded experience of everything we do; from the way we cross ourselves, to the Sacraments of the Church, to our Major Feast Days and our Divine Liturgy. People who have already been Orthodox their whole lives years have remarked that what they learned about their Faith from this class was like going from seeing a movie in black &amp; white to experiencing it in full-color IMAX.</p>
						<p>Class meets Monday nights at 7:30-8:30 PM,  upstairs in the Gen. Assm. Rm. of the Huffington Center. </p>
						<a href="{{ url }}" class="cta">Register For The WHYs of Orthodoxy Class Here</a>
					</div>
				</div>
			</div>
			<hr/>
		</div>
			<div class="gi">
			<div class="block block-thumb">
				<div class="b-inner">
					<div class="b-thumb">
						<img src="../../images/jonah_cropped-1x1_600.jpg" alt="">
					</div>
					<div class="b-text">
						<h2 class="b-title">The Old Testament Brought To Life</h2>
						<div class="byline">with Father Allan Boyd</div>
						<p>Is the God of the Old Testament different from the God of the New Testament? Is Jesus in the Old Testament?  Do the stories of God’s relationship with people who lived thousands of years ago have anything to offer each of us in our daily lives? Find out how they come to life in our Feast Day services. Discover how &amp; why the Old &amp; New Testaments connect so seamlessly. Come and experience these stories coming to life in our present day Los Angeles. BRING YOUR ORTHODOX STUDY BIBLE to follow along on.</p>
						<p>Class meets Thursday nights at 7:30-8:30 PM, upstairs in the Meeting Rm of the Huffington Center. </p>
						<a href="{{ url }}" class="cta">Register For The Old Testament Class Here</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> organisms-footer }}