{{> organisms-header:header--light }}
{{> molecules-page-header }}
<div class="main-body">
	<h2>Church History &amp; the Great Schism</h2>
	<ul>
		<li><a href="http://www.amazon.com/Orthodox-Church-New-Timothy-Ware/dp/0140146563/" target="_blank">The Orthodox Church, Kallistos Ware</a></li>
		<li><a href="http://www.religionfacts.com/orthodox-christianity" target="_blank">Orthodox history &amp; Great Schism</a></li>
		<li><a href="http://www.ancientfaith.com/podcasts/paradiseutopia/papal_reformation_and_the_great_schism_I " target="_blank">Great Schism (Podcast)</a></li>
	</ul>
	<hr>

	<h2>Communion &amp; Eucharist</h2>
	<ul>
		<li><a href="http://www.goarch.org/archdiocese/departments/outreach/resources/articles/receivingcommunion" target="_blank">How to Prepare</a></li>
		<li><a href="http://www.saintbarbara.org/growing_in_christ/proper_preparation_for_holy_communion" target="_blank">Proper Preparation for Holy Communion</a></li>
		<li><a href="#" target="_blank">Menstruation &amp; Holy Communion </a></li>
	</ul>
	<hr>

	<h2>Confession, Repentance &amp; Reconciliation</h2>
	<ul>
		<li><a href="http://www.ancientfaith.com/podcasts/morningoffering/confession2" target="_blank">Confession (Podcast)</a></li>
		<li><a href="http://www.pravmir.com/confession-the-sacrament-of-repentance-and-reconciliation/" target="_blank">Confession: The Sacrament of Reconciliation and Repentance</a></li>
	</ul>
	<hr>

	<h2>Discipleship </h2>

	<hr>
	<h2>Heaven &amp; Hell in the Eastern Orthodox Tradition</h2>
	<ul>
		<li><a href="http://blogs.ancientfaith.com/glory2godforallthings/christianity-in-a-one-storey-universe/" target="_blank">Two Story Universe</a></li>
		<li><a href="http://www.ancientfaith.com/podcasts/freeman/unbelief_and_the_two-storey_universe" target="_blank">Two Story Universe Audio</a></li>
		<li><a href="http://www.ancientfaith.com/podcasts/carlton/hell_a_modest_proposal" target="_blank">Hell: A Modest Proposal, Clark Calton</a></li>
	</ul>
	<hr>

	<h2>Icons</h2>
	<p>Iconography, or the symbolic depiction of Christ and the Saints, are a defining feature of Orthodox Christianity.  The seventh ecumenical council of the Church was convened to condemn the destruction and removal of icons from the church. The icons were defended as testimonies to the incarnation of God in Christ.  God became touchable and depictable in Jesus and through His incarnation and ministry He sanctified creation.</p>
	<ul>
		<li><a href="http://orthodoxinfo.com/general/icon_faq.aspx" target="_blank">Icon FAQ</a></li>
		<li><a href="http://www.amazon.com/Gazing-God-Salvation-Orthodox-Iconography/dp/0227174461/" target="_blank">Gazing on God (Book)</a></li>
	</ul>
	<hr>

	<h2>Liturgy</h2>
	<ul>
		<li><a href="http://www.antiochian.org/introduction-divine-liturgy" target="_blank">Introduction to the Divine Liturgy, Hopko</a></li>
		<li><a href="http://orthodoxinfo.com/general/doctrine3.aspx" target="_blank">The Role of Liturgy, Kallistos</a></li>
		<li><a href="http://orthodoxinfo.com/general/pomaz_lit.aspx" target="_blank">The Holies for the Holy</a></li>		
	</ul>
	<hr>

	<h2>Living the Cross </h2>
	<hr>

	<h2>Mary</h2>
	<p>Christ’s mother is greatly honored (as she prophesied in Luke 1:48 “Henceforth all generations shall call me blessed) for her role in our salvation.  She is honored as the Mother of God for it was through her that the Word of God took flesh and was born a child.  She is honored as the first among Christians because she was the first to receive Christ into her life and bear Him forth through Her life. Orthodox Christians do not worship anyone or anything but God. Orthodox Christians do give honor where God has ordained.</p>
	<ul>
		<li><a href="http://orthodoxwiki.org/Theotokos" target="_blank">Theotokos</a></li>
		<li><a href="http://orthodoxinfo.com/general/veneration_mary.aspx" target="_blank">Veneration of Mary</a></li>
		<li><a href="http://www.amazon.com/Orthodox-Veneration-Mother-Theological-Texts/dp/1887904263" target="_blank">Orthodox Veneration of the Mother of God by Saint John Maximovitch</a></li>
		<li><a href="http://store.ancientfaith.com/mary-worthy-of-all-praise-reflections-on-the-virgin-mary/" target="_blank">Mary: Worthy of all Praise by Fr. David Smith</a></li>
	</ul>
	<hr>

	<h2>Prosforo</h2>
	<ul>
		<li><a href="#" target="_blank">What is Prosforo? Recipe included (PDF)</a></li>
	</ul>
	<hr>

	<h2>Orthodox Evangelism &amp; Outreach</h2>
	<ul>
		<li><a href="http://ocmc.org/" target="_blank">Orthodox Christian Missionary Center</a></li>
		<li><a href="http://focusnorthamerica.org/" target="_blank">Focus North America – Fellowship of Orthodox Christians United to Serve</a></li>
	</ul>
	<hr>

	<h2>Orthodox Nationalism &amp; Ethnophyletism</h2>
	<p>The distinction of races within the church is condemned as a heresy by the Orthodox. In 1872, the Church convened in Constantinople to discuss a situation where the faithful were beginning to divide themselves by race.  The wrote a decree proclaiming, “We censure, condemn, and declare contrary to the teachings of the Gospel and the sacred canons of the holy Fathers the doctrine of phyletism, or the difference of races and national diversity in the bosom of the Church of Christ”</p>
	<ul>
		<li><a href="http://ocl.org/the-1872-council-of-constantinople-and-phyletism/" target="_blank">1872 Council of Constantinople</a></li>
		<li><a href="http://orthodoxinfo.com/general/the-synod-of-constantinople-1872-the-oecumenical-synods-of-the-orthodox-church-fr-james-thornton.pdf" target="_blank">Fr. James Thorton (PDF)</a></li>
		<li><a href="http://myocn.net/orthodoxy-ethnically-exclusive/" target="_blank">Is Orthodoxy Ethnically Exclusive?</a></li>
	</ul>
	<hr>

	<h2>Sacraments &amp; The Sacramental Life</h2>
	<ul>
		<li><a href="http://www.amazon.com/Life-World-Sacraments-Orthodoxy/dp/0913836087/ " target="_blank">For the Life of the World (Book)</a></li>
	</ul>
	<hr>

	<h2>Salvation &amp; Unity With God</h2>
	<ul class="bullet-list">
		<li>Justification</li>
		<li>Sanctification</li>
		<li>Atonement</li>
		<li><a href="http://www.pravoslavie.ru/english/46463.htm" target="_blank">Doctrine of Salvation</a></li>
		<li><a href="http://blogs.ancientfaith.com/glory2godforallthings/2015/03/03/the-problem-with-going-to-heaven/" target="_blank">The Problem with Going to Heaven (Blog)</a></li>
		<li><a href="http://www.ancientfaith.com/podcasts/pilgrims/virtual_righteousness_part_1" target="_blank">Virtual Righteousness (Podcast)</a></li>
	</ul> 
	<hr>
	<h2>Same Sex Relationships</h2>
	<ul>
		<li><a href="http://www.orthodoxresearchinstitute.org/articles/ethics/hopko_homosexual_christian.htm" target="_blank">The Homosexual Christian - Article by Father Thomas Hopko</a></li>
	</ul>
	<hr>

	<h2>Scripture &amp; Tradition</h2>
	<ul>
		<li><a href="http://www.orthodoxchristianity.net/articles/37-the-unbiblical-doctrine-of-sola-scriptura" target="_blank">Unbiblical Doctrine of Sola Scriptura</a></li>
		<li><a href="http://orthodoxinfo.com/inquirers/tca_solascriptura.aspx" target="_blank">Orthodox Examination of Protestant Understanding of Scripture </a></li>
		<li><a href="https://www.youtube.com/watch?v=2GHE6oqCc_U" target="_blank">Reading the Bible (Video)</a></li>
	</ul>
	<hr>

	<h2>The Jesus Prayer</h2>
	<ul>
		<li><a href="http://www.ancientfaith.com/specials/orthodox_institute_2014_theosis_your_life_with_god/the_jesus_prayer_part_1" target="_blank">The Jesus Prayer: Part I (Podcast)</a></li>
		<li><a href="#" target="_blank">The Way of the Pilgrim (Book) </a></li>
	</ul>
	<hr>

	<h2>The Saints</h2>
	<p>“Therefore let us also, seeing we are compassed about with so great a cloud of witnesses, lay aside every weight, and the sin which doth so easily beset us, and let us run with patience the race that is set before us (Heb 12:1)” Orthodox Christians remember and honor the example laid before us by the multitude of great Christians who have testified to the resurrected life in Christ. We look to them for inspiration and for intercession for “the prayer of the righteous avails much.” </p>
	<hr>

	<h2>The Sign of the Cross </h2>
	<hr>

	<h2>Tithing, Stewardship, Diaconia &amp; Service </h2>
	<hr>

	<h2>Trinity – God in Three Persons</h2>
	<ul>
		<li><a href="http://oca.org/orthodoxy/the-orthodox-faith/doctrine/the-holy-trinity" target="_blank">Great example of putting together a doctrinal study</a></li>
		<li><a href="http://www.ancientfaith.com/podcasts/hopko/the_holy_trinity" target="_blank">Fr. Thomas Hopko: On the Trinity (Podcast)</a></li>
		<li><a href="http://www.monachos.net/library/index.php/patristics/themes/57-modelling-the-trinity-after-the-man" target="_blank">Modeling the Trinity after Man, Metro Irenei (Steenburg)</a></li>
	</ul>
	<hr>
	<h2>What is Sin in the Eastern Orthodox Tradition?</h2>
	<ul>
		<li><a href="http://www.ancientfaith.com/podcasts/isermon/missing_the_mark" target="_blank">Missing the Mark (Podcast)</a></li>
	</ul>
	<hr>

	<h2>What is the Gospel?</h2>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=ICHovRHJAYY" target="_blank">…and why is it Good News?  NT Wright</a></li>
	</ul>
	
</div>
{{> organisms-footer }}