<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-two-col">
			<div class="l-main">
				<article class="article">
					<header class="article-header">
						<h1>The Sacrament of Holy Matrimony in the Greek Orthodox Church</h1>
						{{> molecules-byline }}
					</header>
					{{> organisms-article-example-body }}
				</article><!--end .article-->
			</div><!--end l-main-->

		</div><!--end l-two-col-->	
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>