&lt;style&gt;
.block {
	margin: 0 auto;
	/*max-width: 600px;*/
}
.block a {
	display: block;
}
.block img {
	margin: 10px auto;
	display: block;
}
.b-title {
	/*display: inline-block;*/
	max-width: 270px;
	margin: 10px auto;
	font-family: &quot;ff-meta-serif-web-pro&quot;, Georgia, Times, &quot;Times New Roman&quot;, serif; /*$font-secondary : */
}

/*//switch to larger layout*/
@media (min-width: 600px) {
  .block img {
    float: left;
    /*//display: inline-block;*/
  }
  .b-title {
    float: left;
    /*//display: inline-block;*/
    margin: 25px 10px;
  }
  .b-title {    
    /*//if using text-align for centering, reset to left*/
    text-align: left;
  }
  .block {
    /*//centers inline elements. not good for text inside divs where left align is needed. http://stackoverflow.com/questions/16802728/css-margin-auto-not-centering*/
    text-align: center; 
    
    /*//display table to center http://stackoverflow.com/a/10097606/1357618*/
    /*//display: table;*/
  }
  .b-inner {
    /*//margin: 0 auto;*/
    /*//if using floats, set display to force a proper width value*/
    display: inline-block;
/*  &amp;:after {
      content: '';
      clear: both;
      display: block;
    }*/
  }
}

&lt;/style&gt;
&lt;div class=&quot;block affiliate&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;b-inner&quot;&gt;
		&lt;img src=&quot;../../images/SanFranciscoSeal-white.png&quot; /&gt;
		&lt;h2 class=&quot;b-title&quot;&gt;Greek Orthodox Archdiocese of America&lt;/h2&gt;
	&lt;/a&gt;
&lt;/div&gt;