<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{# emergency }}
			{{> molecules-alert:error }}
		{{/ emergency }}
		{{# hero }}
			{{> molecules-block-hero }}
		{{/ hero}}
		{{> organisms-section-img-headline-desc-list }}
		{{> molecules-well }}
		<div class="g g-3up">
			{{# touts}}
			<div class="gi">
				{{> molecules-block-headline-thumb-text }}
			</div>
			{{/ touts}}
		</div><!--end 3up-->

		<hr />
		<div class="g g-2up">
			<div class="gi">
				{{! news }}
				<div class="widget news">
				  <h1>{{ news.widget-heading }}</h1>
				  <div>
				    <div class="title">Weekly Essentials</div>
				    <a href="#">{{news.widget-entry}}</a>
				  </div>
				  <div>
				    <div class="title">Weekly Communiqué</div>
				    <a href="#">{{news.widget-entry}}</a>
				  </div>
				  <div>
				    <div class="title">Monthly Newsletter</div>
				    <a href="#">{{news.widget-entry}}</a>
				  </div>
				  <a href="#" class="cta">{{news.widget-cta}}</a>
				</div><!--end news-->
			</div>
			<div class="gi">
				{{! Calendar / Events }}
				<div class="widget events">
				  <h1>{{ calendar.widget-heading }}</h1>
				  <div>
				    <div class="title">{{calendar.widget-title}}</div>
				    <a href="#">{{calendar.widget-entry}}</a>
				    <a href="#">{{calendar.widget-entry}}</a>
				    <a href="#">{{calendar.widget-entry}}</a>
				  </div>
				  <a href="#" class="cta">{{calendar.widget-cta}}</a>
				</div><!--end calendar-->
			</div>
		</div><!--end 2up-->

	</div><!--End role=main-->
	{{> organisms-footer }}
</div>