<div class="page" id="page">
	{{> organisms-header }}
	{{# hero }}
	{{> molecules-block-hero }}
	{{/ hero}}
	<div role="main">
		{{# intro }}
			{{> organisms-section-img-headline-desc-list }}
		{{/ intro }}
		{{# feature }}
			{{> molecules-well:featured }}
		{{/ feature }}
		{{! begin featured content }}
		<div id="featured-content" class="g g-3up">
			{{# touts}}
			<div class="gi">
				{{> molecules-block-headline-thumb-text }}
			</div>
			{{/ touts}}
		</div><!--end 3up-->
		{{! end featured content }}
		{{! hours section start }}
		<hr />
		<section id="hours" class="hours">
			{{! molecules-heading-intro }}
			<h2 class="section-title">{{hours.title}}</h2>
			<p class="intro">{{hours.intro}}</p>
			<div class="g g-4up">
				<div class="gi">
					{{! molecule-block-headline-list }}
					<div class="block-headline-list">
						<h4 class="list-title">Sunday Services</h4>
						<div class="list-intro">Located in the Cathedral</div>
						{{! ...for a full list of service times and events, please see the calendar. }}
						<ul class="text-list">
							<li>8:15am - Orthros</li>
							<li>9:15am - Studies in the Faith</li>
							<li>9:45am - Memorials</li>
							<li>10:00am - Divine Liturgy</li>
						</ul>
					</div>
				</div>
				<div class="gi">
					{{! molecule-block-headline-list }}
					<div class="block-headline-list">
						<h4 class="list-title">Office Hours</h4>
						<div class="list-intro">Located in the Huffington Center</div>
						<ul class="text-list">
							<li>Monday - Friday: 8:30am - 4:30pm</li>
							<li>Saturday - Sunday: CLOSED</li>
						</ul>
					</div>
				</div>
				<div class="gi">
					{{! molecule-block-headline-list }}
					<div class="block-headline-list">
						<h4 class="list-title">Cathedral Visiting Hours</h4>
						<ul class="text-list">
							<li>Monday: CLOSED</li>
							<li>Tuesday - Friday: 10:00am - 4:00pm</li>
							<li>Saturday: 10:00am - 2:00pm</li>
							<li>Sunday: 12:30pm - 2:00pm</li>
						</ul>
					</div>
				</div>
				<div class="gi">
					{{! molecule-block-headline-list }}
					<div class="block-headline-list">
						<h4 class="list-title">Cathedral Bookstore</h4>
						<div class="list-intro">Bookstore questions should be directed to Bill Striglos (<span class="nowrap">ph. 213-804-1283</span>, <a href="mailto:wstriglos@sbcglobal.net">email</a>).</div>
						<ul class="text-list">
							<li>Monday - Saturday: CLOSED</li>
							<li>Sunday: 12:00pm - 1:00pm</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		{{! end hours }}
		<div class="g g-2up">
			{{# news }}
			<div class="gi">
				{{! news }}
				
				<div class="widget {{widget-graphic}}">
					<h2>{{ widget-heading }}</h2>
					<div>
						<div class="title">{{ widget-title }}</div>
						{{# widget-entry }}
						<a href="{{ url }}">{{ text }}</a>
						{{/ widget-entry }}
					</div>
					{{# herald }}
					<div>
						<div class="title">Monthly Herald</div>
						<a href="http://www.stsophia.org/herald/herald_2015-06.pdf">Saint Sophia Cathedral Herald - May 2015</a>
					</div>
					{{/ herald}}
					{{# widget-cta }}
					<a href="{{ url }}" class="cta">{{ cta }}</a>
					{{/ widget-cta}}
				
				</div><!--end news-->
			</div><!--end grid item-->
			{{/ news }}
		</div><!--end 2up-->
		<hr />
		{{! begin clergy }}
		{{# people }}
		{{> molecules-block-person-spotlight }}
		{{/ people }}
		{{! end clergy }}
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>