{{> organisms-header:header--light }}
{{> molecules-page-header }}
<div class="main-body">
	<div class="">
		<div class="">
			{{# sub }}
			<p>{{{ excerpt.xs }}}</p>
			{{/ sub }}
			<h2 class="list-section-title">{{ headline.xs }}</h2>
			{{{ publication-list }}
		</div>
	</div>
</div>
{{> organisms-footer }}