/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   { 
	font-size: $font-size-large;
	line-height: 1.2;
}

h2, .beta    { 
	font-size: $font-size-med-3;
	line-height: 1.2;
}

h3, .gamma   { 
	font-size: $font-size-med;
	line-height: 1.2;
}

h4, .delta   {
	font-size: $font-size-base;
	
}

h5, .epsilon { 
	font-size: $font-size-small-2;
	
}

h6, .zeta    { 
	
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
