/* Text-Related Elements */ 
p {
	margin-bottom: $space;
}

/* Blockquote */
blockquote {
    font-style:italic;
    border-left: 1px solid $gray;
    color: $gray;
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 1px;
    background: $red-dark;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

mark, .highlighter {
    background-color: $gold-light;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}