<div class="contact-us">
	<div class="tel"><a href="tel:+1.323.737.2424"><span class="fa fa-phone pull-left"></span>+1.323.737.2424</a></div>
	<div class="email"><a href="mailto:office@stsophia.org"><span class="fa fa-envelope pull-left"></span>office@stsophia.org</a></div>
</div>