<div class="visit-us">
	<span class="fa fa-map-marker pull-left"></span>
	<div class="vcard">
		<div class="org">Saint&nbsp;Sophia Cathedral</div>
		<div class="adr">
			<div class="street-address">1324 South Normandie Avenue</div>
			<span class="locality">Los Angeles</span>,
			<abbr class="region" title="California">CA</abbr>
			<span class="postal-code">90006</span>
			<div class="country-name">U.S.A</div>
		</div>
	</div>
</div>