<blockquote class="pullquote">
   	<p>A pullquote quotation (also known as a lift-out pull quote) is a quotation or excerpt from an article that is typically placed in a larger or distinctive typeface on the same page, serving to entice readers into an article or to highlight a key topic. </p>
</blockquote>