<!-- Begin Footer -->
<footer id="footer" class="footer" role="contentinfo">
	<div class="footer-top">
	{{! begin section nav }}
	{{> molecules-footer-nav }}
	{{! end section nav }}
	{{! begin section quick reference }}
	<hr />
	{{> molecules-contact-options }}
	{{! end section quick reference }}
	</div>
	{{> organisms-section-footer-bottom }}
</footer>
<!-- End Footer -->