<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="g-3up footer-top block">
	{{! begin section nav }}
	{{! end section nav }}
	{{! begin section quick reference }}
	{{! end section quick reference }}
	</div>
	<div class="footer-bottom">
		<div class="g g-3up">
			<div class="gi">
				{{> molecules-block-affiliate }}
			</div>
			<div class="gi">
				{{> molecules-block-affiliate }}
			</div>
			<div class="gi">
				{{> molecules-block-affiliate }}
			</div>
		</div>
		<div class="colophon">
			<div class="align-right"><a class="small" href="#">colophon</a></div>
		</div>
	</div>
</footer>
<!-- End Footer -->