<style>
.footer {
	background-color: #460d11;/*$red-dark*/
}
/*logos convert to something generic?*/
.footer .block img,
.footer .block h2 {
	display: block;
}
.footer .block img {
	float: left;
	margin: 0 1em;
}
.footer .block h2 {
	font-family: serif; /*serif font*/
	margin: .5em 1em;
	font-size: 1.3em;
	font-weight: 300;
	text-align: center;
}
.footer .gi {
	padding: 1em 2em;
}
.small {
	font-size: .87em; /*$text-small: .87em;*/
}
.footer-bottom {
	margin-top: 2em;
	padding: 2em;
}
.footer-top {
	margin-top: 1em;
	padding: 2em;
	background-color: lightgrey;
}
</style>
<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="g-3up footer-top block">
	{{! begin section nav }}
	{{! end section nav }}
	{{! begin section quick reference }}
	{{! end section quick reference }}
	</div>
	<div class="footer-bottom">
	<div class="g-3up block">
		<div class="gi">
			<a href="#" class="b-inner">
				<img src="../../images/SanFranciscoSeal-white.png" />
				<h2 class="b-title">Greek Orthodox Archdiocese of America</h2>
			</a>
		</div>
		<div class="gi">
			<img src="../../images/SanFranciscoSeal-white.png" />
			<h2 class="b-title">Greek Orthodox Archdiocese of America</h2>
		</div>
		<div class="gi">
			<img src="../../images/SanFranciscoSeal-white.png" />
			<h2 class="b-title">Greek Orthodox Metropolis of San Francisco</h2>
		</div>
	</div>
	<div class="lc">
		<div class="align-right"><a class="small" href="#">colophon</a></div>
	</div>
	</div>
</footer>
<!-- End Footer -->
{{! <div class="g-3up logos">
		<div class="gi align-center logo">
			<img src="../../images/SanFranciscoSeal-white.png" />
			<div>Greek Orthodox Archdiocese of America</div>
		</div>
		<div class="gi">
			<img src="" />
		</div>
		<div class="gi">
			<img src="" />
		</div>
	<div class="lc">
		<div class="align-right"><a href="#">colophon</a></div>
	</div> }}