<nav role="navigation" class="nav-footer">
	<div class="g g-4up">
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Our Cathedral</a></h3>
			<ul>
				<li><a href="{{ link.pages-mission }}">Mission</a></li>
				<li><a href="{{ url }}">Worship Schedule</a></li>
				<li><a href="{{ url }}">Clergy</a></li>
				<li><a href="{{ link.pages-about }}">About Us</a></li>
				<li><a href="{{ link.pages-our-history }}">Our History</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">I'm New</a></h3>
			<ul>
				<li><a href="{{ url }}">Who attends?</a></li>
				<li><a href="{{ url }}">First time visitor?</a></li>
				<li><a href="{{ link.pages-orthodoxy-educational-resources }}">Orthodox Christian Resources</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Offerings</a></h3>
			<ul>
				<li><a href="{{ link.pages-donate }}">I would like to donate</a></li>
				<li><a href="{{ link.pages-pay-a-fee }}">I would like to pay a fee</a></li>
				<li><a href="{{ link.pages-stewardship }}">Stewardship</a></li>
				<li><a href="{{ link.pages-volunteer }}">Volunteer</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Sacraments &amp; Events</a></h3>
			<ul>
				<li><a href="{{ link.pages-baptisms }}">Baptisms &amp; Chrismations</a></li>
				<li><a href="{{ link.pages-marriage }}">Marriage (Weddings)</a></li>
				<li><a href="{{ link.pages-funerals }}">Funerals</a></li>
				<li><a href="{{ link.pages-memorials }}">Memorials</a></li>
				<li><a href="http://www.huffingtoncenter.org/">Receptions and Other Events</a></li>
			</ul>
		</div>
	</div>
	<div class="g g-4up">
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Ministries</a></h3>
			<ul>
				<li><a href="{{ link.pages-all-ministries }}">All Ministries</a></li>
				<li><a href="{{ link.pages-cathedral-tour }}">Cathedral Tour</a></li>
				<li><a href="{{ link.pages-bookstore }}">Saint&nbsp;Sophia Cathedral Bookstore &amp; Gift Shop</a></li>
				<li><a href="{{ link.pages-saint-sophia-identity }}">Saint&nbsp;Sophia Cathedral Identity</a></li>
				<li><a href="{{ link.pages-saint-sophia-open-design }}">Open Design</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Spiritual Formation &amp; Education</a></h3>
			<ul>
				<li><a href="{{ link.pages-adult-education }}">Adult Education</a></li>
				<li><a href="{{ link.pages-youth-education }}">Youth Education</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Publications</a></h3>
			<ul>
				<li><a href="{{ link.pages-calendar-archive }}">Calendar</a></li>
				<li><a href="{{ link.pages-publications }}">Weekly Bulletins</a></li>
				<li><a href="{{ link.pages-publications }}">Monthly Herald</a></li>
			</ul>
		</div>
	</div>
</nav>