<nav role="navigation" class="nav-footer">
	<div class="g g-4up">
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Our Cathedral</a></h3>
			<ul>
				<li><a href="{{ url }}">Mission</a></li>
				<li><a href="{{ url }}">Worship Schedule</a></li>
				<li><a href="{{ url }}">Clergy</a></li>
				<li><a href="{{ url }}">About Us</a></li>
				<li><a href="{{ url }}">Our History</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">I'm New</a></h3>
			<ul>
				<li><a href="{{ url }}">Who attends?</a></li>
				<li><a href="{{ url }}">First time visitor?</a></li>
				<li><a href="{{ url }}">Orthodox Christian Resources</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Offerings</a></h3>
			<ul>
				<li><a href="{{ link.pages-donate }}">I would like to donate</a></li>
				<li><a href="{{ link.pages-pay-a-fee }}">I would like to pay a fee</a></li>
				<li><a href="{{ url }}">Stewardship</a></li>
				<li><a href="{{ url }}">Volunteer</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Sacraments &amp; Events</a></h3>
			<ul>
				<li><a href="{{ url }}">Baptisms &amp; Chrismations</a></li>
				<li><a href="{{ url }}">Marriage (Weddings)</a></li>
				<li><a href="{{ url }}">Funerals</a></li>
				<li><a href="{{ url }}">Memorials</a></li>
				<li><a href="{{ url }}">Receptions and Other Events</a></li>
			</ul>
		</div>
	</div>
	<div class="g g-4up">
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Ministries</a></h3>
			<ul>
				<li><a href="{{ url }}">All Ministries</a></li>
				<li><a href="{{ url }}">Cathedral Tour</a></li>
				<li><a href="{{ url }}">Saint Sophia Cathedral Bookstore &amp; Gift Shop</a></li>
				<li><a href="{{ url }}">Saint Sophia Cathedral Identity</a></li>
				<li><a href="{{ url }}">Open Design</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Spiritual Formation &amp; Education</a></h3>
			<ul>
				<li><a href="{{ url }}">Adult Education</a></li>
				<li><a href="{{ url }}">Youth Education</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Publications</a></h3>
			<ul>
				<li><a href="{{ link.pages-calendar-archive }}">Calendar</a></li>
				<li><a href="{{ url }}">Weekly Bulletins</a></li>
				<li><a href="{{ url }}">Monthly Herald</a></li>
			</ul>
		</div>
	</div>
</nav>