<nav role="navigation" class="nav-footer">
	<div class="g g-4up">
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Our Cathedral</a></h3>
			<ul>
				<!--<li><a href="{{ link.pages-mission }}">Mission</a></li>-->
				<!--<li><a href="{{ url }}">Worship Schedule</a></li>-->
				<li><a href="{{ link.pages-clergy-and-staff }}">Clergy and Staff</a></li>
				<li><a href="{{ link.pages-cathedral-tour }}">Cathedral Tour</a></li>
				<li><a href="{{ link.pages-nursery }}">Nursery</a></li>
				<!--<li><a href="{{ link.pages-our-history }}">Our History</a></li>-->
				<li><a href="http://www.huffingtoncenter.org/">Huffington Center</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">I'm New</a></h3>
			<ul>
				<!--<li><a href="{{ url }}">Who attends?</a></li>-->
				<li><a href="{{ link.pages-first-time-visitor }}">First time visitor?</a></li>
				<li><a href="{{ link.pages-orthodoxy-educational-resources }}">Orthodox Christian Resources</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Offerings</a></h3>
			<ul>
				<li><a href="{{ link.pages-donate }}">I would like to donate</a></li>
				<li><a href="{{ link.pages-pay-a-fee }}">I would like to pay a fee</a></li>
				<li><a href="{{ link.pages-pay-stewardship }}">I would like to pay stewardship</a></li>
				<li><a href="{{ link.pages-stewardship }}">Stewardship</a></li>
				<li><a href="{{ link.pages-volunteer }}">Volunteer</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Sacraments &amp; Events</a></h3>
			<ul>
				<li><a href="{{ link.pages-baptisms }}">Baptisms &amp; Chrismations</a></li>
				<li><a href="{{ link.pages-marriage }}">Marriage (Weddings)</a></li>
				<li><a href="{{ link.pages-funerals }}">Funerals</a></li>
				<!--<li><a href="{{ link.pages-memorials }}">Memorials</a></li>-->
				<li><a href="http://www.huffingtoncenter.org/">Receptions and Other Events</a></li>
			</ul>
		</div>
	</div>
	<div class="g g-4up">
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Ministries</a></h3>
			<ul>
				<li><a href="{{ link.pages-all-ministries }}">All Ministries - <em>Coming Soon!</em></a></li>
				<li><a href="{{ link.pages-bookstore }}">Bookstore &amp; Gift Shop</a></li>
				<!--<li><a href="{{ link.pages-saint-sophia-identity }}">Saint&nbsp;Sophia Cathedral Identity</a></li>-->
				<!--<li><a href="{{ link.pages-saint-sophia-open-design }}">Open Design</a></li>-->
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Spiritual Formation &amp; Education</a></h3>
			<ul>
				<li><a href="{{ link.pages-adult-education }}">Adult Education</a></li>
				<li><a href="{{ link.pages-youth-education }}">Youth Education - <em>Coming Soon!</em></a></li>
				<li><a href="{{ link.pages-sunday-school }}">Sunday School</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Publications</a></h3>
			<ul>
				<li><a href="{{ link.pages-calendar-archive }}">Calendar</a></li>
				<li><a href="{{ link.pages-publications }}">Weekly Bulletins - <em>Coming Soon!</em></a></li>
				<li><a href="{{ link.pages-publications }}">Monthly Herald - <em>Coming Soon!</em></a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item"><a href="#">Multimedia</a></h3>
			<ul>
				<li><a href="{{ link.pages-sermons }}">Sermons</a></li>
				<li><a href="{{ link.pages- }}">Photos - <em>Coming Soon!</em></a></li>
			</ul>
		</div>
	</div>
</nav>