<ul class="social-nav">
	<li><a href="http://www.facebook.com/StSophiaLA"><span class="fa fa-facebook fa-fw"></span>Facebook</a></li>
	<li><a href="http://www.twitter.com/StSophiaLA"><span class="fa fa-twitter fa-fw"></span>Twitter</a></li>
	<li><a href="https://www.youtube.com/channel/UCUHb2fqMM5NHUFVMHXDpctA"><span class="fa fa-youtube fa-fw"></span>Youtube</a></li>
</ul>