@charset "UTF-8";
/*                                                                                                                                         
                                                ,,            ,,                          ,,                                             
 .M"""bgd mm                                    db          `7MM        mm         mm   `7MM                                    OO OO OO 
,MI    "Y MM                                                  MM        MM         MM     MM                                    88 88 88 
`MMb.   mmMMmm ,pW"Wq.`7MMpdMAo.     `7Mb,od8 `7MM  .P"Ybmmm  MMpMMMb.mmMMmm     mmMMmm   MMpMMMb.  .gP"Ya `7Mb,od8 .gP"Ya      || || || 
  `YMMNq. MM  6W'   `Wb MM   `Wb       MM' "'   MM :MI  I8    MM    MM  MM         MM     MM    MM ,M'   Yb  MM' "',M'   Yb     || || || 
.     `MM MM  8M     M8 MM    M8       MM       MM  WmmmP"    MM    MM  MM         MM     MM    MM 8M""""""  MM    8M""""""     `' `' `' 
Mb     dM MM  YA.   ,A9 MM   ,AP       MM       MM 8M         MM    MM  MM         MM     MM    MM YM.    ,  MM    YM.    ,     ,, ,, ,, 
P"Ybmmd"  `Mbmo`Ybmd9'  MMbmmd'      .JMML.   .JMML.YMMMMMb .JMML  JMML.`Mbmo      `Mbmo.JMML  JMML.`Mbmmd'.JMML.   `Mbmmd'     db db db 
                        MM                         6'     dP                                                                             
                      .JMML.                       Ybmmmd'                                                                               

Pattern Lab doesn't have any CSS requirements, which means you can write your styles however you want. Hooray!
You can use Sass, Less, vanilla CSS, or some other crazy thing I haven't heard of yet.
So please don't use these styles. They're just here to put together the demo, and nothing more.
They're intentionally gray, boring, and crappy because you're supposed to do this stuff yourself.

Atomic design is philosophically complimentary with these CSS approaches:

* SMACSS by Jonathan Snook http://smacss.com/
* OOCSS by Nicole Sullivan http://oocss.org/
* BEM CSS Methology : http://bem.info/method/
* CSS Guidelines by Harry Roberts : https://github.com/csswizardry/CSS-Guidelines

So feel free to use any of these approaches. Or don't. It's totally up to you.

*/
/*------------------------------------*\
    $TABLE OF CONTENTS 
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables 
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

header, footer, nav, section, article, hgroup, figure {
  display: block;
}

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
.cf, .l-two-col, [role=main] {
  *zoom: 1;
}

.cf:before, .l-two-col:before, [role=main]:before, .cf:after, .l-two-col:after, [role=main]:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after, .l-two-col:after, [role=main]:after {
  clear: both;
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Floats */
.right {
  float: right;
  padding: 0 0 1em 1em;
}

.right-search {
  float: right;
  padding: 0 0 1em 0;
}

.left {
  float: left;
  padding: 0 1em 1em 0;
}

/* Text-Align */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/* Display Classes */
@media all and (max-width: 46.8em) {
  .hide-small {
    display: none;
  }
}

@media all and (min-width: 46.8em) and (max-width: 50em) {
  .hide-med {
    display: none;
  }
}

@media all and (min-width: 50em) {
  .hide-large {
    display: none;
  }
}

.valid {
  color: #089e00;
}

.error {
  color: red;
}

.warning {
  color: #fff664;
}

.information {
  color: #000db5;
}

.font-secondary {
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
}

body {
  background: white;
  font: 100%/1.5 "ff-meta-web-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #333333;
}

/* Links */
a {
  color: #460d11;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus {
  color: #c72530;
}

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  font-size: 2.945em;
  line-height: 1.2;
}

h2, .beta {
  font-size: 1.82em;
  line-height: 1.2;
}

h3, .gamma {
  font-size: 1.416em;
  line-height: 1.2;
}

h4, .delta {
  font-size: 1.125em;
}

h5, .epsilon {
  font-size: 0.875em;
}

/* Subheadings */
.subheading {
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

/* Text-Related Elements */
p {
  margin-bottom: 1em;
}

/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 1px solid gray;
  color: gray;
  padding-left: 1em;
  margin-bottom: 1em;
}

/* Horizontal Rule */
hr {
  border: 0;
  height: 1px;
  background: #460d11;
  margin: 2em 0;
}

abbr {
  border-bottom: 1px dotted gray;
  cursor: help;
}

mark, .highlighter {
  background-color: #fff59f;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto;
}

img, video {
  border-radius: 4px;
}

iframe {
  margin-bottom: 1em;
}

figure {
  margin-bottom: 1em;
}
figure img {
  margin-bottom: 0.5em;
}

figcaption {
  font-style: italic;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {
  font-size: 1.125em;
}

form ol, form ul {
  list-style: none;
  margin-left: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  padding-bottom: 0.5em;
}

form label {
  color: #460d11;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px 0;
}

input, textarea {
  width: 100%;
  border: 1px solid #460d11;
  border-radius: 4px;
  padding: 0.5em;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none;
}

button,
input[type="submit"] {
  padding: 1em;
  background: #d2bc00;
  cursor: pointer;
}
@media all and (min-width: 29.75em) {
  button,
  input[type="submit"] {
    width: auto;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input.currency {
  max-width: 8em;
}

.field-container {
  margin-bottom: 1em;
}

.inline-form fieldset, .inline-form .inline-container {
  position: relative;
}
.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: 0.875em;
  padding: 0.65rem 1.3rem;
  background: #d2bc00;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
  background: #c9b700;
  color: white;
}

/* Validation */
.has-error {
  border-color: red;
}

.is-valid {
  border-color: #089e00;
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
.search-field {
  padding-right: 3em;
}

/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid gray;
  width: 100%;
}

th {
  text-align: left;
  border: 1px solid gray;
  padding: 0.2em;
}

td {
  border: 1px solid gray;
  padding: 0.2em;
}

.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
}
.animate-fade:hover {
  opacity: 0;
}

.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* Layout Container */
.lc, .header, [role=main] {
  max-width: 72em;
  margin: 0 auto;
  padding: 0.5em;
}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/
/* Two Column Layout */
@media all and (max-width: 50em) {
  .l-two-col .l-sidebar {
    clear: both;
  }
}
@media all and (min-width: 50em) {
  .l-two-col .l-sidebar {
    float: left;
    width: 30%;
    padding: 0 1em 0 0;
  }
}
@media all and (min-width: 50em) {
  .l-two-col .l-main {
    float: left;
    width: 70%;
    padding-left: 1em;
  }
}

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* Grid Container */
.g {
  overflow: hidden;
  margin: 0 -0.5em;
}

/* Grid Item */
.gi {
  padding: 0.5em;
}
.gi img {
  display: block;
}
@media all and (min-width: 46.8em) {
  .gi {
    float: left;
  }
}

/* Grid 1up */
.g-1up .gi {
  width: 100%;
}

/* Grid 2up */
@media all and (min-width: 46.8em) {
  .g-2up > .gi {
    float: left;
    width: 50%;
  }
  .g-2up > .gi:nth-of-type(odd) {
    clear: left;
  }
}

/* Grid Half (Always displayed side by side) */
.g-half > .gi {
  float: left;
  width: 50%;
}
.g-half > .gi:nth-of-type(odd) {
  clear: left;
}

/* Grid 3up */
@media all and (min-width: 46.8em) {
  .g-3up > .gi {
    float: left;
    width: 50%;
  }
  .g-3up > .gi:nth-of-type(2n+1) {
    clear: left;
  }
}
@media all and (min-width: 50em) {
  .g-3up > .gi {
    width: 33.3333333%;
  }
  .g-3up > .gi:nth-of-type(2n+1) {
    clear: none;
  }
  .g-3up > .gi:nth-of-type(3n+1) {
    clear: left;
  }
}

/* Grid 4up */
@media all and (min-width: 46.8em) {
  .g-4up > .gi {
    float: left;
    width: 50%;
  }
  .g-4up > .gi:nth-of-type(2n+1) {
    clear: both;
  }
}
@media all and (min-width: 50em) {
  .g-4up > .gi {
    width: 25%;
  }
  .g-4up > .gi:nth-of-type(2n+1) {
    clear: none;
  }
  .g-4up > .gi:nth-of-type(4n+1) {
    clear: left;
  }
}

/* Grid Quarter (Always displayed side by side) */
.g-quarter > .gi {
  float: left;
  width: 24%;
}
.g-quarter > .gi:nth-of-type(4n+1) {
  clear: left;
}

@media all and (min-width: 29.75em) {
  .g-max4 > .gi {
    float: left;
    width: 50%;
  }
  .g-max4 > .gi:nth-of-type(2n+1) {
    clear: both;
  }
}
@media all and (min-width: 39.8em) {
  .g-max4 > .gi {
    width: 33.3333333%;
  }
  .g-max4 > .gi:nth-of-type(2n+1) {
    clear: none;
  }
  .g-max4 > .gi:nth-of-type(3n+1) {
    clear: left;
  }
}
@media all and (min-width: 50em) {
  .g-max4 > .gi {
    width: 25%;
  }
  .g-max4 > .gi:nth-of-type(3n+1) {
    clear: none;
  }
  .g-max4 > .gi:nth-of-type(4n+1) {
    clear: left;
  }
}

/* Grid 5up */
.g-max5 > .gi {
  float: left;
  width: 50%;
}
.g-max5 > .gi:nth-of-type(2n+1) {
  clear: both;
}
@media all and (min-width: 39.8em) {
  .g-max5 > .gi {
    width: 33.3333333%;
  }
  .g-max5 > .gi:nth-of-type(2n+1) {
    clear: none;
  }
  .g-max5 > .gi:nth-of-type(3n+1) {
    clear: left;
  }
}
@media all and (min-width: 46.8em) {
  .g-max5 > .gi {
    width: 25%;
  }
  .g-max5 > .gi:nth-of-type(3n+1) {
    clear: none;
  }
  .g-max5 > .gi:nth-of-type(4n+1) {
    clear: left;
  }
}
@media all and (min-width: 48em) {
  .g-max5 > .gi {
    width: 20%;
  }
  .g-max5 > .gi:nth-of-type(4n+1) {
    clear: none;
  }
  .g-max5 > .gi:nth-of-type(5n+1) {
    clear: left;
  }
}

/* Grid 2/3 */
@media all and (min-width: 46.8em) {
  .gi-2-3 {
    float: left;
    width: 66.666666%;
  }
}

@media all and (min-width: 46.8em) {
  .gi-1-3 {
    float: left;
    width: 33.333333%;
  }
}

/* Grid 4up block */
.g-opposites .gi {
  float: left;
}
.g-opposites .gi:last-child {
  float: right;
  text-align: right;
}

/* main body content layout */
.main-body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em 2em;
}
.main-body > p {
  font-size: 1.125em;
}

.main-body--wide {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em 2em;
}
.main-body--wide > p {
  font-size: 1.125em;
}

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
.header {
  background: white;
  padding: 0;
}

.header {
  background: none;
  padding: 0;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.logo {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  float: left;
  max-width: 10rem;
  margin: 0.4rem;
}
.logo svg {
  width: 100%;
}
@media all and (min-width: 46.8em) {
  .logo {
    max-width: 18rem;
  }
}
.logo .backdrop,
.logo .window-left,
.logo .windows path,
.logo .logo-text-top path,
.logo .logo-text-bottom path {
  fill: white;
}
.logo .roof-cross {
  stroke: white;
  fill: white;
  stroke-width: 3;
}
.logo .dome-cross {
  fill: none;
}

.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb;
  color: white;
}
@media all and (min-width: 46.8em) {
  .nav-toggle {
    display: none;
  }
}
@media all and (max-width: 17em) {
  .nav-toggle {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

.header--light .nav-toggle {
  color: #460d11;
}
.header--light .nav a {
  color: #460d11;
}
.header--light .logo .backdrop,
.header--light .logo .window-left,
.header--light .logo .windows path,
.header--light .logo .logo-text-top path,
.header--light .logo .logo-text-bottom path {
  fill: #460d11;
}
.header--light .logo .roof-cross {
  stroke: #460d11;
  fill: #460d11;
}

.search-form {
  overflow: hidden;
  max-height: 0;
}
@media all and (min-width: 46.8em) {
  .search-form {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.nav {
  clear: both;
  overflow: hidden;
  max-height: 0;
}
.nav a {
  display: block;
  padding: 1em;
  border-top: 1px solid #eeeeee;
  color: white;
}
.nav.active {
  max-height: 40em;
}
@media all and (min-width: 46.8em) {
  .nav {
    max-height: none;
    float: right;
    clear: none;
    font-size: 1.416em;
  }
  .nav li {
    float: left;
  }
  .nav a {
    border: 0;
  }
}

a.nav-toggle {
  color: white;
}

.pagination {
  overflow: hidden;
}
.pagination li {
  float: left;
  border-right: 1px solid #eeeeee;
}
.pagination li:last-child {
  border: 0;
}
.pagination a {
  padding: 1em;
}

.social-nav a {
  font-size: 0.875em;
}

.social-nav .fa {
  font-size: 1.416rem;
}

/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
  padding: 0.5em 0.5em 2em;
  overflow: hidden;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  clear: both;
  overflow: hidden;
  background-color: #460d11;
  color: white;
  line-height: 1.2;
}

.footer-top {
  margin-top: 1em;
  padding: 2em;
  background-color: #fceff0;
}

.footer-top,
.footer-top a,
.footer-top h3 {
  color: #460d11;
}

.footer-top .fa {
  font-size: 1.416rem;
  /* rem@16px 22.652px TODO determine if rem is best design for nested. https://css-tricks.com/theres-more-to-the-css-rem-unit-than-font-sizing/*/
}

.nav-footer {
  padding-bottom: .5em;
  margin-bottom: 1.5em;
}
.nav-footer h3 {
  margin-bottom: .3em;
  font-size: 1.416em;
}
.nav-footer h3 a {
  text-transform: uppercase;
}
.nav-footer li {
  margin-bottom: 0.5em;
}
.nav-footer a {
  padding: 0;
}
.nav-footer li > a {
  display: block;
  font-size: 0.875em;
}

.contact-options a,
.contact-options h3 {
  padding: 0;
}

.contact-options h3 {
  margin-bottom: .3em;
  font-size: 1.416em;
  text-transform: uppercase;
}

.contact-options a {
  font-size: 0.875em;
}

.contact-options li {
  margin-bottom: 0.5em;
}

/* TODO need to offset text down for larger proceeding icon font-size*/
.contact-us div {
  margin-bottom: 0.5em;
}

.footer .vcard {
  display: block;
  /*below gives space for graphic*/
  margin-left: 1.5em;
}

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
.intro {
  font-size: 1.19531em;
  font-weight: bold;
}

blockquote {
  position: relative;
  padding: 1.5em 1em;
  border-left: 8px solid #931c25;
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  color: #931c25;
}
blockquote p {
  padding: 0 60px 0;
  margin: 0;
  font-size: 1.82em;
}
blockquote p:before {
  content: '“';
  font-size: 3.706em;
  line-height: 1;
  position: absolute;
  top: 8px;
  left: 16px;
  color: #931c25;
}
blockquote p:after {
  content: '”';
  font-size: 3.706em;
  line-height: 1;
  position: absolute;
  right: 0;
  margin: 16px;
  color: #931c25;
}
@media all and (max-width: 29.75em) {
  blockquote p {
    padding: 0 16px 0;
    font-size: 1.125em;
  }
  blockquote p:before {
    font-size: 2.291em;
  }
  blockquote p:after {
    font-size: 2.291em;
  }
}
blockquote .citation {
  font-size: 1.125em;
  padding: 0 48px 0;
}
@media all and (max-width: 29.75em) {
  blockquote .citation {
    font-size: 0.875em;
    padding: 0 16px 0;
  }
}

blockquote .pullquote {
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
  font-size: 1.416em;
  padding: 1em 0;
  border: none;
  color: #931c25;
}
blockquote .pullquote p {
  padding: 0 2.5em 0;
  margin: 0;
}
blockquote .pullquote p:before {
  content: '“';
  font-size: 3.706em;
  line-height: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  color: #931c25;
}
blockquote .pullquote p:after {
  content: '”';
  font-size: 3.706em;
  line-height: 1;
  position: absolute;
  right: 0;
  margin: 12px;
  color: #931c25;
}

.caption {
  font-style: italic;
}

.text {
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
}
.text p {
  font-size: 1.125em;
}
.text h2, .text h3, .text h4, .text h5, .text h6 {
  font-family: "ff-meta-web-pro", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  margin-bottom: 0.5em;
}
.text a {
  text-decoration: underline;
}
.text ul {
  list-style: disc;
  margin: 0 0 1em 1.2em;
}
.text ul ul {
  margin-bottom: 0;
}
.text ol {
  list-style: decimal;
  margin: 0 0 1em 1.5em;
}
.text ol ol {
  margin-bottom: 0;
}

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/* Icon Font */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple, .icon-android, .icon-arrow:after, .icon-envelope:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
  content: "\74";
}

.icon-stumbleupon:before {
  content: "\75";
}

.icon-pinterest:before {
  content: "\70";
}

.icon-linkedin:before {
  content: "\69";
}

.icon-google-plus:before {
  content: "\67";
}

.icon-search:before {
  content: "\73";
}

.icon-play:before {
  content: "\61";
}

.icon-menu:before {
  content: "\21";
}

.icon-arrow-left:before {
  content: "\23";
}

.icon-arrow-right:before {
  content: "\24";
}

.icon-bubble:before {
  content: "\25";
}

.icon-facebook:before {
  content: "\66";
}

.icon-feed:before {
  content: "\27";
}

.icon-youtube:before {
  content: "\79";
}

.icon-tag:before {
  content: "\28";
}

.icon-tumblr:before {
  content: "\6d";
}

.icon-instagram:before {
  content: "\22";
}

.icon-podcast:before {
  content: "\26";
}

.icon-android:before {
  content: "\29";
}

.icon-apple:before {
  content: "\2a";
}

.icon-envelope:before {
  content: "\2b";
}

.icon-arrow:after {
  content: "\61";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.icon-play:before {
  font-size: 0.7rem;
  padding-left: 0.2em;
}

.icon-play-box {
  display: block;
  margin-left: 2em;
}

.icon-play-box:before {
  padding: 0.25em;
  background: gray;
  color: white;
  margin-left: -1.7rem;
  margin-right: 0.5em;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  display: inline-block;
  background: #d2bc00;
  color: white;
  line-height: 1;
  font-weight: bold;
  padding: 1em;
  border: 0;
  border-radius: 4px;
  text-align: center;
}
.btn:hover, .btn:focus {
  background: #e2ce00;
  color: white;
}
.btn.disabled {
  background: #eeeeee;
  color: gray;
}
.btn:active {
  background: #c9b700;
  box-shadow: 2px 3px 0px 0px rgba(1, 1, 1, 0.2) inset;
}

.btn-small {
  padding: 0.5em;
}

.btn-large {
  padding: 0.5em;
  text-transform: uppercase;
  background: #d2bc00;
  font-size: 1.4rem;
  font-weight: normal;
}

.text-btn {
  font-style: italic;
}

.btn.alt {
  background: #d2bc00;
}

/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
  background: #dcdddc;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
}

/* Block */
.block {
  overflow: hidden;
}
.block p:last-child {
  margin-bottom: 0;
}

.headline {
  line-height: 1.2;
}

/* Hero Block */
.block-hero {
  margin-bottom: 0.5em;
  position: relative;
}
.block-hero .b-thumb {
  border-bottom: 16px solid #460d11;
}
@media all and (min-width: 46.8em) {
  .block-hero .b-thumb {
    max-height: 700px;
  }
}
.block-hero .b-thumb img {
  display: block;
  border-radius: initial;
}
.block-hero .b-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}
.block-hero .b-title {
  margin: 0 0 .25em;
  font-size: 1.416em;
}
.block-hero .home-intro {
  clear: left;
  font-size: 1.125em;
  /*1.416em;*/
  line-height: 1.125em;
  font-weight: 200;
}
@media all and (min-width: 50em) {
  .block-hero {
    position: relative;
  }
  .block-hero .b-inner {
    position: relative;
  }
  .block-hero .b-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    text-align: left;
  }
  .block-hero .b-title {
    font-size: 1.82em;
  }
}

/* Block Thumbnail with Headline */
.block-thumb {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.block-thumb .b-inner {
  display: table-row;
  vertical-align: top;
  overflow: hidden;
}
.block-thumb .b-thumb {
  margin-bottom: 1em;
}
@media all and (min-width: 29.75em) {
  .block-thumb .b-thumb {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    max-width: 10em;
  }
  .block-thumb .b-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 29.75em) {
  .block-thumb .b-text {
    display: table-cell;
    width: 70%;
    padding: 0 1em;
  }
}
.block-thumb .cta {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #460d11;
}

/* Block Thumbnail with Headline */
.block-headline-thumb .b-headline {
  color: #460d11;
  margin-bottom: 0.25em;
  text-align: center;
}
.block-headline-thumb .b-headline .b-title {
  font-size: 1.82em;
  font-weight: normal;
  text-transform: uppercase;
}
@media all and (min-width: 46.8em) {
  .block-headline-thumb .b-headline .b-title {
    font-size: 2.291em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.block-headline-thumb .b-thumb {
  margin-bottom: 0.5em;
}
.block-headline-thumb .b-text {
  font-size: 1.125em;
}
@media all and (min-width: 46.8em) {
  .block-headline-thumb .b-text {
    text-align: center;
  }
}
.block-headline-thumb .b-text a {
  border-bottom: 1px solid #460d11;
  border-bottom: 1px solid currentColor;
}
.block-headline-thumb .cta {
  text-transform: uppercase;
  font-weight: bold;
  color: #460d11;
}

/* Block Headline Summary */
.block-headline-summary a {
  display: block;
  padding: 0.5em;
}

/* Block Inset */
.block-inset {
  position: relative;
}
.block-inset .b-thumb {
  position: relative;
  z-index: 0;
}
.block-inset .b-thumb img {
  display: block;
}

/* Hero Block */
.block-inset {
  margin-bottom: 0.5em;
  position: relative;
}
.block-inset .headline {
  font-size: 1.1em;
}
.block-inset .b-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5em;
}

/* Block Thumb with Summary */
.block-thumb-summary .b-thumb {
  float: left;
  width: 50%;
}
.block-thumb-summary .b-text {
  margin-left: 50%;
  padding: 0.5em;
}

/* Block Affiliate */
.block-affiliate {
  margin: 0 auto;
}
@media (min-width: 29.75em) {
  .block-affiliate {
    text-align: center;
  }
}
@media all and (min-width: 29.75em) {
  .block-affiliate .b-inner {
    /*//if using floats, set display to force a proper width value*/
    display: inline-block;
  }
}
.block-affiliate .b-inner img {
  margin: 10px auto;
  display: block;
  max-width: 85px;
  border-radius: 0;
}
@media (min-width: 29.75em) {
  .block-affiliate .b-inner img {
    float: left;
  }
}
@media (min-width: 46.8em) {
  .block-affiliate .b-inner img {
    float: none;
  }
}
@media (min-width: 66em) {
  .block-affiliate .b-inner img {
    float: left;
  }
}
.block-affiliate .b-inner .b-title {
  /*display: inline-block;*/
  max-width: 10em;
  margin: 10px auto;
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
  font-size: 1.125em;
  text-align: center;
}
@media all and (min-width: 29.75em) {
  .block-affiliate .b-inner .b-title {
    float: left;
    margin: 25px 10px;
    text-align: left;
  }
}
@media all and (min-width: 46.8em) {
  .block-affiliate .b-inner .b-title {
    font-size: 1.125em;
    text-align: center;
  }
}
@media all and (min-width: 66em) {
  .block-affiliate .b-inner .b-title {
    text-align: left;
  }
}

.sidebar-block-list {
  margin-bottom: 0.5em;
}
.sidebar-block-list li {
  border-bottom: 1px solid #460d11;
  margin: 0;
  padding: 0.5em 0;
}
.sidebar-block-list .b-title {
  font-size: 1.416em;
}

/* Widget Latest Entries Block - ie sidebar, for recent entries etc */
.widget:before {
  content: "";
  display: block;
  font-family: FontAwesome;
  line-height: 1;
  margin-right: 0.25em;
  font-size: 1.82em;
  line-height: 1;
  color: #460d11;
  position: absolute;
  top: 0;
  left: 0;
}
@media all and (min-width: 24em) {
  .widget:before {
    margin-right: 0.5em;
    font-size: 2.291em;
  }
}

.news:before {
  content: "\f1ea";
}

.events:before {
  content: "\f073";
}

.widget {
  position: relative;
  line-height: 1;
  padding-left: 3em;
}
@media all and (min-width: 24em) {
  .widget {
    padding-left: 4em;
  }
}
.widget h2 {
  font-size: 1.82em;
  font-weight: 100;
  line-height: 1;
  margin: 0 0 0.25em;
  padding: 0;
  text-transform: uppercase;
  color: #460d11;
}
@media all and (min-width: 24em) {
  .widget h2 {
    font-size: 2.291em;
  }
}
.widget .title {
  font-weight: bold;
  color: #460d11;
  font-size: 1.125em;
  margin-bottom: 0.25em;
}
@media all and (min-width: 24em) {
  .widget .title {
    font-size: 1.416em;
  }
}
.widget a {
  display: block;
  margin-bottom: 0.5em;
}
@media all and (min-width: 24em) {
  .widget a {
    font-size: 1.125em;
  }
}
.widget a:last-child {
  margin-bottom: 1em;
}
.widget .cta {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1em 0;
}

.section-of-headline-lists {
  /* remove space from first paragraph */
}
.section-of-headline-lists h2 {
  font-size: 1.82em;
  font-weight: normal;
}
@media all and (min-width: 24em) {
  .section-of-headline-lists h2 {
    font-size: 2.291em;
  }
}
.section-of-headline-lists .intro {
  margin-bottom: .25em;
}

.block-headline-list {
  color: #460d11;
}
.block-headline-list .list-title {
  font-size: 1.416em;
  line-height: 1;
  /*avoid below - don't need 50 different similar patterns 
  but it looks soo good!*/
  /*border-bottom: 1px solid black;*/
  margin-bottom: .25em;
}
@media all and (min-width: 46.8em) {
  .block-headline-list .list-title {
    font-size: 1.82em;
  }
}
.block-headline-list .list-intro {
  font-size: 1.125em;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  margin-bottom: .25em;
}
@media all and (min-width: 46.8em) {
  .block-headline-list .list-intro {
    font-size: 1.19531em;
  }
}
.block-headline-list .text-list {
  font-size: 1.125em;
}

/* Clergy Section/Block */
/*******************************************************/
/*  Primarily uses styles from block, block-thumb design*/
/*  flexbox reverse element order solution used*/
/*******************************************************/
@media all and (min-width: 46.8em) {
  .well.person .b-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 46.8em) {
  .well.person .block-thumb .b-thumb {
    max-width: 10em;
    /*set a max width on image*/
    width: 30%;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
}

.well.person .block-thumb .b-text {
  line-height: 1.19531em;
}
@media all and (min-width: 46.8em) {
  .well.person .block-thumb .b-text {
    width: 70%;
    padding: 0 2em 0;
    /* overwrites current design, adding pad on both sides*/
    width: 70%;
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.person.reverse .block .b-text {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.person.reverse .block .b-thumb {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.person .w-title {
  font-size: 0.875em;
  color: gray;
}

.person .b-title {
  color: #460d11;
}

@media all and (min-width: 29.75em) {
  .well .block-thumb .b-thumb {
    width: auto;
    max-width: 10em;
  }
}
.well .block-thumb .b-thumb img {
  width: 100%;
}

.well.person {
  background: none;
}

.person .b-text p {
  margin-bottom: .5em;
}

.block-contact {
  padding: 1em;
  background-color: #fceff0;
}

.block-contact a {
  display: block;
}

.inline-list li {
  display: inline-block;
}

/* Social List */
.social-list li {
  margin: 0 0.4rem 1em 0;
}
.social-list a {
  font-size: 1.6em;
}

/* Headline List */
.headline-list {
  margin-bottom: 1em;
}
.headline-list.flush {
  margin: 0;
}
.headline-list h4 {
  font-weight: normal;
}
.headline-list li {
  padding: 0.25em 0;
  border-top: 1px solid #dddddd;
}

/* Post List */
.post-list li {
  margin-bottom: 1em;
}

/* Bullet List */
.bullet-list {
  list-style: square;
  margin: 0 0 1em 1.2em;
  line-height: 1.3;
}
.bullet-list li {
  margin-bottom: 1em;
}

/* Text List */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;
}

/* Checkboxes List */
ul.checkboxes {
  margin-left: 1em;
  list-style: none;
}
ul.checkboxes ul {
  padding-left: 2em;
  list-style: none;
}
ul.checkboxes ul h3 {
  display: inline-block;
}
ul.checkboxes li:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
  content: "\f096";
}
ul.checkboxes h2 {
  display: inline-block;
}

.tooltip-container {
  display: inline-block;
  position: relative;
}
.tooltip-container:hover .tooltip {
  display: block;
}

.tooltip-link {
  background: #f9f9f9;
}

.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1em;
  background: white;
  border: 1px solid gray;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2);
}
.tooltip h2 {
  margin-top: 0;
}
@media all and (min-width: 24em) {
  .tooltip {
    width: 22em;
  }
}
@media all and (min-width: 29.75em) {
  .tooltip {
    width: 27em;
  }
}
@media all and (min-width: 39.8em) {
  .tooltip {
    width: 30em;
  }
}

.accordion {
  margin-bottom: 1em;
}

.acc-handle {
  background: #131313;
  color: white;
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 0.5em;
  border-bottom: 1px solid #dddddd;
}
.acc-handle:after {
  content: "+";
  float: right;
}
.acc-handle:hover {
  color: white;
  background: #333333;
}
.acc-handle.active {
  background: #333333;
}
.acc-handle.active:after {
  content: "-";
}

.tabs {
  overflow: hidden;
}
.tabs ul {
  display: table;
  width: 100%;
}
.tabs li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #dddddd;
}
.tabs li:last-child {
  border-right: 0;
}
.tabs a {
  display: block;
  padding: 0.5em;
  background: gray;
}
.tabs a:hover, .tabs a:focus {
  background: #dddddd;
}
.tabs a.active {
  background: #333333;
  color: white;
}

.section {
  margin: 2em 0;
}

.section-img img {
  display: block;
  margin: 0 auto 1em;
}

.section-body {
  max-width: 46.8em;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 0.25em;
  font-size: 2.291em;
  line-height: 1;
  color: #460d11;
  text-transform: uppercase;
}
@media all and (min-width: 46.8em) {
  .section-title {
    font-size: 3.706em;
  }
}

.section-title,
.section-desc {
  text-align: center;
}

.section-desc {
  font-size: 1.416em;
  line-height: 1.25;
}
@media all and (min-width: 46.8em) {
  .section-desc {
    font-size: 1.82em;
  }
}

.hours {
  color: #460d11;
}
.hours .section-title {
  font-weight: 100;
  position: relative;
  text-align: left;
  padding-left: 1em;
  line-height: 1.2;
  margin-bottom: 0;
}
.hours .section-title:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "\f017";
  font-family: FontAwesome;
  line-height: 1;
}
.hours .intro {
  margin-bottom: 0;
  font-size: 1.19531em;
}
@media all and (min-width: 46.8em) {
  .hours .intro {
    margin-bottom: 0.25em;
  }
}

.callout-info {
  background-color: #fff59f;
  color: #460d11;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
}

.callout-info--small {
  font-size: 0.875em;
}

.section-person-contact {
  margin-bottom: 2em;
}
.section-person-contact img {
  width: 100%;
  max-width: 400px;
}
@media all and (min-width: 39.8em) and (max-width: 50em) {
  .section-person-contact .block-contact {
    display: inline-block;
    margin-left: 2em;
  }
}

.footer-bottom {
  padding: 2em 1em 1em;
  background-color: #460d11;
}
@media all and (min-width: 46.8em) {
  .footer-bottom {
    margin-top: 2em;
  }
  .footer-bottom .g {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-bottom .gi {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-bottom a {
  color: #f9f9f9;
}
.footer-bottom .logotext {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 370px;
  fill: white;
}
@media all and (min-width: 46.8em) {
  .footer-bottom .copyright {
    float: right;
  }
}
.footer-bottom .colophon {
  clear: left;
  font-size: 0.875em;
}

.article-header h1 {
  font-size: 2.5em;
}

.byline {
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 0.5em;
}

.social-share {
  overflow: hidden;
  margin-bottom: 1em;
}
.social-share li {
  float: left;
  margin-right: 0.5em;
}
.social-share a {
  background: #333333;
  color: white;
  display: block;
  padding: 0.5em;
}
.social-share a:hover {
  background: gray;
}

.page-header {
  margin-bottom: 2em;
  margin-top: 80px;
  padding: 2em 1em;
  text-align: center;
  background-color: #460d11;
  color: white;
}
@media all and (min-width: 46.8em) {
  .page-header {
    padding: 4em 1em;
  }
}
.page-header .page-title {
  font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
  font-size: 1.82em;
  text-transform: uppercase;
  margin: 0 auto 0.25em;
  max-width: 800px;
}
@media all and (min-width: 46.8em) {
  .page-header .page-title {
    font-size: 2.945em;
  }
}
.page-header .page-intro {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.125em;
}
@media all and (min-width: 46.8em) {
  .page-header .page-intro {
    font-size: 1.416em;
  }
}

.callout-notice {
  background-color: #fff59f;
  color: #460d11;
  padding: 1em;
  margin-bottom: 2em;
  font-weight: bold;
  border-radius: 4px;
}
.callout-notice h2 {
  font-size: 1.416em;
}
.callout-notice ul:last-child {
  margin-bottom: 0;
}

/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/
.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9;
}

.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe;
}

.well {
  position: relative;
  background: #f9f9f9;
  padding: 1em 0.5em;
  margin-bottom: 2em;
}
@media all and (min-width: 46.8em) {
  .well {
    padding: 3em 0.5em;
  }
}
.well h2 {
  font-size: 2.291em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}
.well p, .well a {
  font-size: 1.416em;
  line-height: 1.1;
}
.well a {
  font-weight: bold;
  text-transform: uppercase;
}
.well.featured {
  background: #460d11;
  color: #f9f9f9;
}
.well.featured a {
  color: #fff59f;
}
@media all and (min-width: 24em) {
  .well .block {
    max-width: 24em;
    margin: 0 auto;
  }
}
@media all and (min-width: 46.8em) {
  .well .block-thumb {
    max-width: 50em;
  }
}
@media all and (min-width: 29.75em) {
  .well .block-thumb .b-thumb {
    display: block;
    width: auto;
    margin: 0;
    max-width: 100%;
  }
}
@media all and (min-width: 46.8em) {
  .well .block-thumb .b-thumb {
    display: table-cell;
    vertical-align: top;
    width: 50%;
  }
  .well .block-thumb .b-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 29.75em) {
  .well .block-thumb .b-thumb img {
    display: inline;
  }
}
@media all and (min-width: 29.75em) {
  .well .block-thumb .b-text {
    display: block;
    width: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
}
@media all and (min-width: 46.8em) {
  .well .block-thumb .b-text {
    display: table-cell;
    width: 50%;
    padding: 0 0 0 3em;
    vertical-align: middle;
  }
}

/*------------------------------------*\
    $PATTERNLAB
\*------------------------------------*/
@media all and (min-width: 30em) {
  .sg-colors li {
    width: 10em !important;
  }
}
