<!--Fluid video using Fitvids-->
<div id="vid-container">
	{{! <iframe class="iframe" src="http://player.vimeo.com/video/28523422?title=0&byline=0&portrait=0&color=4584be" width="800/embed/?moog_width=800" height="450" frameborder="0"></iframe> }}
	<iframe width="640" height="360" src="https://www.youtube.com/embed/uNPZCPkewQ4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen id="fit-vid-01"></iframe>
</div>	
<!--End Fluid video using Fitvids-->
<script>
	$("#vid-container").fitVids();
</script>