<link rel="stylesheet" href="../../css/vendor/default-calendar-list.css" media="all" />
<div class="calendar-list-wrapper">
    <div class="simcal-calendar simcal-default-calendar simcal-default-calendar-list simcal-default-calendar-light" data-timezone="America/Los_Angeles" data-offset="-28800" data-week-start="1">
        <div class="simcal-calendar-list ">
            <dl class="simcal-events-list-container" data-heading-small="Dec 2015" data-heading-large="December 2015">
                <dt class="simcal-day-label"><span><span class="simcal-date-format" data-date-format="F">December</span> <span class="simcal-date-format" data-date-format="j,">29,</span> <span class="simcal-date-format" data-date-format="Y">2015</span> </span>
                </dt>
                <dd class="simcal-weekday-2 simcal-past simcal-day simcal-day-has-events simcal-day-has-1-events simcal-events-calendar-23 simcal-day-has-events simcal-day-has-2-events simcal-events-calendar-23" data-events-count="2">
                    <ul class="simcal-events">
                        <li class="simcal-event simcal-events-calendar-23" itemprop="event" itemscope="" itemtype="http://schema.org/Event">
                            <div class="simcal-event-details">
                                <p><a href="#"><span class="simcal-event-title" itemprop="name">Whole Day Appointment</span></a></p>
                                <div class="event-details">
                                    <div class="event-details-inner">
                                        <div class="detail-item"><span class="event-details-label">When</span><span class="event-when"><span class="simcal-event-start simcal-event-start-date" data-event-start="1451376059" data-event-format="F j, Y">December 29, 2015</span></span>
                                        </div>
                                        <div class="detail-item"><span class="event-details-label">Where</span><span class="event-where"><span class="simcal-event-address simcal-event-start-location" itemprop="location" itemscope="" itemtype="http://schema.org/Place"></span>Someplace</span>
                                        </div>
                                        <div class="event-links"> <a href="https://calendar.google.com/calendar/event?eid=ODgzNmtncDAzM3JzZGpndDhtNTF2azR0Nm8gdmV1ZHAzbHFlcjNqMDB0ZmMwajd1dW5jb2dAZw&amp;ctz=America/Los_Angeles" target="_blank">more details»</a>&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="simcal-event simcal-events-calendar-23" itemprop="event" itemscope="" itemtype="http://schema.org/Event">
                            <div class="simcal-event-details">
                                <p><a href="#"><span class="simcal-event-start simcal-event-start-time" data-event-start="1451458800" data-event-format="g:i a" itemprop="startDate" content="2015-12-29T23:00:00-0800">11:00 pm</span><span class="simcal-event-title" itemprop="name">Standard Appointment with Start and End</span></a></p>
                                <div class="event-details">
                                    <div class="event-details-inner">
                                        <div class="detail-item"><span class="event-details-label">When</span><span class="event-when"><span class="simcal-event-start simcal-event-start-date" data-event-start="1451458800" data-event-format="F j, Y" itemprop="startDate" content="2015-12-29T23:00:00-0800">December 29, 2015</span> @ <span class="simcal-event-start simcal-event-start-time" data-event-start="1451458800" data-event-format="g:i a" itemprop="startDate" content="2015-12-29T23:00:00-0800">11:00 pm</span> - <span class="simcal-event-start simcal-event-end-date" data-event-start="1451462400" data-event-format="F j, Y" itemprop="endDate" content="2015-12-30T00:00:00-0800">December 30, 2015</span> <span class="simcal-event-end simcal-event-end-time" data-event-end="1451462400" data-event-format="g:i a" itemprop="endDate" content="2015-12-30T00:00:00-0800">12:00 am</span></span>
                                        </div>
                                        <div class="detail-item"><span class="event-details-label">Where</span><span class="event-where"><span class="simcal-event-address simcal-event-start-location" itemprop="location" itemscope="" itemtype="http://schema.org/Place"></span>Somplace</span>
                                        </div>
                                        <div class="event-links"> <a href="https://calendar.google.com/calendar/event?eid=a2N2bjJtY2xyYmg2bnY4djc1cGoybWthcjQgdmV1ZHAzbHFlcjNqMDB0ZmMwajd1dW5jb2dAZw&amp;ctz=America/Los_Angeles" target="_blank">more details»</a>&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </dd>
                <dt class="simcal-day-label"><span><span class="simcal-date-format" data-date-format="F">December</span> <span class="simcal-date-format" data-date-format="j,">30,</span> <span class="simcal-date-format" data-date-format="Y">2015</span> </span>
                </dt>
                <dd class="simcal-weekday-3 simcal-past simcal-day simcal-day-has-events simcal-day-has-1-events simcal-events-calendar-23" data-events-count="1">
                    <ul class="simcal-events">
                        <li class="simcal-event simcal-events-calendar-23" itemprop="event" itemscope="" itemtype="http://schema.org/Event">
                            <div class="simcal-event-details">
                                <p><a href="#"><span class="simcal-event-title" itemprop="name">Whole Day Appt 2</span></a></p>
                                <div class="event-details">
                                    <div class="event-details-inner">
                                        <div class="detail-item"><span class="event-details-label">When</span><span class="event-when"><span class="simcal-event-start simcal-event-start-date" data-event-start="1451462459" data-event-format="F j, Y">December 30, 2015</span></span>
                                        </div>
                                        <div class="detail-item"><span class="event-details-label">Where</span><span class="event-where"><span class="simcal-event-address simcal-event-start-location" itemprop="location" itemscope="" itemtype="http://schema.org/Place"></span>Someplace</span>
                                        </div>
                                        <div class="event-links"> <a href="https://calendar.google.com/calendar/event?eid=cWxsZDhjcnM5OGNjOHRpbGI2aWtnNDRsYXMgdmV1ZHAzbHFlcjNqMDB0ZmMwajd1dW5jb2dAZw&amp;ctz=America/Los_Angeles" target="_blank">more details»</a>&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <div class="simcal-ajax-loader simcal-spinner-top" style="display: none;"><i class="simcal-icon-spinner simcal-icon-spin"></i></div>
        </div>
    </div>
</div>