<link rel="stylesheet" href="../../css/vendor/default-calendar-grid.css" media="all" />
<style>
@font-face {
  font-family: 'simple-calendar';
  src: url("../../fonts/simple-calendar.eot?43976014");
  src: url("../../fonts/simple-calendar.eot?43976014#iefix") format("embedded-opentype"), url("../fonts/simple-calendar.woff?43976014") format("woff"), url("../../fonts/simple-calendar.ttf?43976014") format("truetype"), url("../../fonts/simple-calendar.svg?43976014#simple-calendar") format("svg");
  font-weight: normal;
  font-style: normal; }
</style>
<div class="simcal-calendar simcal-default-calendar simcal-default-calendar-grid simcal-default-calendar-light" data-calendar-id="23" data-timezone="America/Los_Angeles" data-offset="-28800" data-week-start="1" data-calendar-start="1451376000" data-calendar-end="1451376059" data-events-first="1451376059" data-events-last="1451376059">
    <table class="simcal-calendar-grid" data-event-bubble-trigger="click">
        <thead class="simcal-calendar-head">
            <tr>
                <th class="simcal-nav simcal-prev-wrapper" colspan="1">
                    <button class="simcal-nav-button simcal-month-nav simcal-prev" title="Previous Month"><i class="simcal-icon-left"></i></button>
                </th>
                <th colspan="5" class="simcal-nav simcal-current" data-calendar-current="1451376000">
                    <h3> <span class="simcal-current-month">December</span>  <span class="simcal-current-year">2015</span> </h3> </th>
                <th class="simcal-nav simcal-next-wrapper" colspan="1">
                    <button class="simcal-nav-button simcal-month-nav simcal-next" title="Next Month"><i class="simcal-icon-right"></i></button>
                </th>
            </tr>
            <tr>
                <th class="simcal-week-day simcal-week-day-1" data-screen-small="M" data-screen-medium="Mon" data-screen-large="Monday">Mon</th>
                <th class="simcal-week-day simcal-week-day-2" data-screen-small="T" data-screen-medium="Tue" data-screen-large="Tuesday">Tue</th>
                <th class="simcal-week-day simcal-week-day-3" data-screen-small="W" data-screen-medium="Wed" data-screen-large="Wednesday">Wed</th>
                <th class="simcal-week-day simcal-week-day-4" data-screen-small="T" data-screen-medium="Thu" data-screen-large="Thursday">Thu</th>
                <th class="simcal-week-day simcal-week-day-5" data-screen-small="F" data-screen-medium="Fri" data-screen-large="Friday">Fri</th>
                <th class="simcal-week-day simcal-week-day-6" data-screen-small="S" data-screen-medium="Sat" data-screen-large="Saturday">Sat</th>
                <th class="simcal-week-day simcal-week-day-0" data-screen-small="S" data-screen-medium="Sun" data-screen-large="Sunday">Sun</th>
            </tr>
        </thead>
        <tbody class="simcal-month simcal-month-12">
            <tr class="simcal-week simcal-week-49">
                <td class="simcal-day simcal-day-void simcal-day-void-last"></td>
                <td class="simcal-day-1 simcal-weekday-2 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">1</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="86"></span>
                    </div>
                </td>
                <td class="simcal-day-2 simcal-weekday-3 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">2</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="87"></span>
                    </div>
                </td>
                <td class="simcal-day-3 simcal-weekday-4 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">3</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="88"></span>
                    </div>
                </td>
                <td class="simcal-day-4 simcal-weekday-5 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">4</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="89"></span>
                    </div>
                </td>
                <td class="simcal-day-5 simcal-weekday-6 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">5</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="90"></span>
                    </div>
                </td>
                <td class="simcal-day-6 simcal-weekday-0 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">6</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="91"></span>
                    </div>
                </td>
            </tr>
            <tr class="simcal-week simcal-week-49">
                <td class="simcal-day-7 simcal-weekday-1 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">7</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="92"></span>
                    </div>
                </td>
                <td class="simcal-day-8 simcal-weekday-2 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">8</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="93"></span>
                    </div>
                </td>
                <td class="simcal-day-9 simcal-weekday-3 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">9</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="94"></span>
                    </div>
                </td>
                <td class="simcal-day-10 simcal-weekday-4 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">10</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="95"></span>
                    </div>
                </td>
                <td class="simcal-day-11 simcal-weekday-5 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">11</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="96"></span>
                    </div>
                </td>
                <td class="simcal-day-12 simcal-weekday-6 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">12</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="97"></span>
                    </div>
                </td>
                <td class="simcal-day-13 simcal-weekday-0 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">13</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="98"></span>
                    </div>
                </td>
            </tr>
            <tr class="simcal-week simcal-week-50">
                <td class="simcal-day-14 simcal-weekday-1 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">14</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="99"></span>
                    </div>
                </td>
                <td class="simcal-day-15 simcal-weekday-2 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">15</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="100"></span>
                    </div>
                </td>
                <td class="simcal-day-16 simcal-weekday-3 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">16</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="101"></span>
                    </div>
                </td>
                <td class="simcal-day-17 simcal-weekday-4 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">17</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="102"></span>
                    </div>
                </td>
                <td class="simcal-day-18 simcal-weekday-5 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">18</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="103"></span>
                    </div>
                </td>
                <td class="simcal-day-19 simcal-weekday-6 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">19</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="104"></span>
                    </div>
                </td>
                <td class="simcal-day-20 simcal-weekday-0 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">20</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="105"></span>
                    </div>
                </td>
            </tr>
            <tr class="simcal-week simcal-week-51">
                <td class="simcal-day-21 simcal-weekday-1 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">21</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="106"></span>
                    </div>
                </td>
                <td class="simcal-day-22 simcal-weekday-2 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">22</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="107"></span>
                    </div>
                </td>
                <td class="simcal-day-23 simcal-weekday-3 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">23</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="108"></span>
                    </div>
                </td>
                <td class="simcal-day-24 simcal-weekday-4 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">24</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="109"></span>
                    </div>
                </td>
                <td class="simcal-day-25 simcal-weekday-5 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">25</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="110"></span>
                    </div>
                </td>
                <td class="simcal-day-26 simcal-weekday-6 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">26</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="111"></span>
                    </div>
                </td>
                <td class="simcal-day-27 simcal-weekday-0 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">27</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="112"></span>
                    </div>
                </td>
            </tr>
            <tr class="simcal-week simcal-week-52">
                <td class="simcal-day-28 simcal-weekday-1 simcal-past simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">28</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="113"></span>
                    </div>
                </td>
                <td class="simcal-day-29 simcal-weekday-2 simcal-today simcal-present simcal-day simcal-today-has-events simcal-day-has-events simcal-day-has-1-events simcal-events-calendar-23" data-events-count="1">
                    <div style="border: 1px solid rgb(30, 115, 190); min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number" style="background-color: #1e73be; color: #ffffff">29</span>
                        <ul class="simcal-events" style="display: block;">
                            <li class="simcal-event simcal-events-calendar-23 simcal-tooltip" itemprop="event" itemscope="" itemtype="http://schema.org/Event" data-hasqtip="143">
                                <span class="simcal-event-title" style="display: inline;">Test</span>
                                <div class="simcal-event-details simcal-tooltip-content" style="display: none;">
                                    <p><strong><span class="simcal-event-title" itemprop="name">Test</span></strong></p>
                                    <p><span class="simcal-event-start simcal-event-start-date" data-event-start="1451376059" data-event-format="F j, Y">December 29, 2015</span>
                                        <br><span class="simcal-event-address simcal-event-start-location" itemprop="location" itemscope="" itemtype="http://schema.org/Place"></span></p>
                                    <div></div>
                                    <p> <a href="https://calendar.google.com/calendar/event?eid=ODgzNmtncDAzM3JzZGpndDhtNTF2azR0Nm8gdmV1ZHAzbHFlcjNqMDB0ZmMwajd1dW5jb2dAZw&amp;ctz=America/Los_Angeles" target="_blank">See more details</a></p>
                                </div>
                            </li>
                        </ul>
                        <span class="simcal-events-dots" style="min-height: 47px; display: none;" data-hasqtip="114"><b> • </b></span>
                    </div>
                </td>
                <td class="simcal-day-30 simcal-weekday-3 simcal-future simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">30</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="115"></span>
                    </div>
                </td>
                <td class="simcal-day-31 simcal-weekday-4 simcal-future simcal-day" data-events-count="0">
                    <div style="min-height: 203px;">
                        <span class="simcal-day-label simcal-day-number">31</span>
                        <span class="simcal-no-events"></span>
                        <span class="simcal-events-dots" style="display: none;" data-hasqtip="116"></span>
                    </div>
                </td>
                <td class="simcal-day simcal-day-void "></td>
                <td class="simcal-day simcal-day-void "></td>
                <td class="simcal-day simcal-day-void simcal-day-void-last"></td>
            </tr>
        </tbody>
    </table>
    <div class="simcal-ajax-loader simcal-spinner-top" style="display: none;"><i class="simcal-icon-spinner simcal-icon-spin"></i></div>
</div>
<script src="../../js/vendor/default-calendar.js"></script>
<script src="../../js/vendor/vendor/qtip.js"></script>