{{! limited to next 5 days of events }}
<link rel="stylesheet" href="../../css/vendor/default-calendar-list.css" media="all" />
<div class="calendar-list-compact-wrapper">
    <div class="simcal-calendar simcal-default-calendar simcal-default-calendar-list simcal-default-calendar-light" data-calendar-id="434" data-timezone="America/Los_Angeles" data-offset="-28800" data-week-start="1" data-calendar-start="1451894400" data-calendar-end="1452643200" data-events-first="1451721659" data-events-last="1452643200">
        <div class="simcal-calendar-list simcal-calendar-list-compact">
            <div class="simcal-events-list-container" data-prev="1451721659" data-next="1452326459" data-heading-small="Jan 2016" data-heading-large="January 2016">
                <div class="simcal-weekday-2 simcal-past simcal-day simcal-day-has-events simcal-day-has-1-events simcal-events-calendar-434" data-events-count="1">
                    <ul class="simcal-events">
                        <li class="simcal-event simcal-events-calendar-434" itemprop="event" itemscope="" itemtype="http://schema.org/Event">
                            <div class="simcal-event-details">
                                <p><span class="date-time-label"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452043800" data-event-format="D, M j" itemprop="startDate" content="2016-01-05T17:30:00-0800">Tue, Jan 5</span> @ <span class="simcal-event-start simcal-event-start-time" data-event-start="1452043800" data-event-format="g:i a" itemprop="startDate" content="2016-01-05T17:30:00-0800">5:30 pm</span></span><strong> <span class="simcal-event-title" itemprop="name">Royal Hours for the Theophany of Our Lord - be there on time people</span></strong>
                                </p>
                                <div class="event-details">
                                    <div class="event-details-inner">
                                        <div class="detail-item"><span class="event-details-label">When</span><span class="event-when"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452043800" data-event-format="F j, Y">January 5, 2016</span> @ <span class="simcal-event-start simcal-event-start-time" data-event-start="1452043800" data-event-format="g:i a" itemprop="startDate" content="2016-01-05T17:30:00-0800">5:30 pm</span> - <span class="simcal-event-end simcal-event-end-time" data-event-end="1452045600" data-event-format="g:i a" itemprop="endDate" content="2016-01-05T18:00:00-0800">6:00 pm</span></span>
                                        </div>
                                        <div class="event-links"> <a href="https://calendar.google.com/calendar/event?eid=a2N2bjJtY2xyYmg2bnY4djc1cGoybWthcjQgdmV1ZHAzbHFlcjNqMDB0ZmMwajd1dW5jb2dAZw&amp;ctz=America/Los_Angeles" target="_blank">more details»</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="simcal-weekday-3 simcal-past simcal-day simcal-day-has-events simcal-day-has-1-events simcal-events-calendar-434" data-events-count="1">
                    <ul class="simcal-events">
                        <li class="simcal-event simcal-events-calendar-434" itemprop="event" itemscope="" itemtype="http://schema.org/Event">
                            <div class="simcal-event-details">
                                <p><span class="date-time-label"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452103200" data-event-format="D, M j" itemprop="startDate" content="2016-01-06T10:00:00-0800">Wed, Jan 6</span> @ <span class="simcal-event-start simcal-event-start-time" data-event-start="1452103200" data-event-format="g:i a" itemprop="startDate" content="2016-01-06T10:00:00-0800">10:00 am</span></span><strong> <span class="simcal-event-title" itemprop="name">Divine Liturgy for the Theophany of Our Lord</span></strong>
                                </p>
                                <div class="event-details">
                                    <div class="event-details-inner">
                                        <div class="detail-item"><span class="event-details-label">When</span><span class="event-when"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452103200" data-event-format="F j, Y">January 6, 2016</span> @ <span class="simcal-event-start simcal-event-start-time" data-event-start="1452103200" data-event-format="g:i a" itemprop="startDate" content="2016-01-06T10:00:00-0800">10:00 am</span> - <span class="simcal-event-end simcal-event-end-time" data-event-end="1452106800" data-event-format="g:i a" itemprop="endDate" content="2016-01-06T11:00:00-0800">11:00 am</span></span>
                                        </div>
                                        <div class="event-links"> <a href="https://calendar.google.com/calendar/event?eid=MXV0ZTZtdW1lanE5bnBubzhuaXVoMDFvNWsgdmV1ZHAzbHFlcjNqMDB0ZmMwajd1dW5jb2dAZw&amp;ctz=America/Los_Angeles" target="_blank">more details»</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="simcal-weekday-4 simcal-past simcal-day simcal-day-has-events simcal-day-has-1-events simcal-events-calendar-434" data-events-count="1">
                    <ul class="simcal-events">
                        <li class="simcal-event simcal-events-calendar-434" itemprop="event" itemscope="" itemtype="http://schema.org/Event">
                            <div class="simcal-event-details">
                                <p><span class="date-time-label"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452153659" data-event-format="D M j" itemprop="startDate" content="2016-01-07T00:00:59-0800">Thu Jan 7</span><span class="simcal-event-start-time">ALL DAY </span></span><strong><span class="simcal-event-title" itemprop="name">Synaxis of John the Baptist and Forerunner</span></strong>
                                </p>
                                <div class="event-details">
                                    <div class="event-details-inner">
                                        <div class="detail-item"><span class="event-details-label">When</span><span class="event-when"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452153659" data-event-format="F j, Y">January 7, 2016</span></span>
                                        </div>
                                        <div class="event-links"> <a href="https://calendar.google.com/calendar/event?eid=bmQwcHRxNzlqN24zaXRoMmFrdGxmYjRkbGMgdmV1ZHAzbHFlcjNqMDB0ZmMwajd1dW5jb2dAZw&amp;ctz=America/Los_Angeles" target="_blank">more details»</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="simcal-weekday-5 simcal-past simcal-day simcal-day-has-events simcal-day-has-1-events simcal-events-calendar-434" data-events-count="1">
                    <ul class="simcal-events">
                        <li class="simcal-event simcal-events-calendar-434" itemprop="event" itemscope="" itemtype="http://schema.org/Event">
                            <div class="simcal-event-details">
                                <p><span class="date-time-label"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452276000" data-event-format="D, M j" itemprop="startDate" content="2016-01-08T10:00:00-0800">Fri, Jan 8</span> @ <span class="simcal-event-start simcal-event-start-time" data-event-start="1452276000" data-event-format="g:i a" itemprop="startDate" content="2016-01-08T10:00:00-0800">10:00 am</span></span><strong> <span class="simcal-event-title" itemprop="name">Bible Study</span></strong>
                                </p>
                                <div class="event-details">
                                    <div class="event-details-inner">
                                        <div class="detail-item"><span class="event-details-label">When</span><span class="event-when"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452276000" data-event-format="F j, Y">January 8, 2016</span> @ <span class="simcal-event-start simcal-event-start-time" data-event-start="1452276000" data-event-format="g:i a" itemprop="startDate" content="2016-01-08T10:00:00-0800">10:00 am</span> - <span class="simcal-event-end simcal-event-end-time" data-event-end="1452279600" data-event-format="g:i a" itemprop="endDate" content="2016-01-08T11:00:00-0800">11:00 am</span></span>
                                        </div>
                                        <div class="event-links"> <a href="https://calendar.google.com/calendar/event?eid=ODgzNmtncDAzM3JzZGpndDhtNTF2azR0Nm8gdmV1ZHAzbHFlcjNqMDB0ZmMwajd1dW5jb2dAZw&amp;ctz=America/Los_Angeles" target="_blank">more details»</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="simcal-weekday-6 simcal-past simcal-day simcal-day-has-events simcal-day-has-1-events simcal-events-calendar-434" data-events-count="1">
                    <ul class="simcal-events">
                        <li class="simcal-event simcal-events-calendar-434" itemprop="event" itemscope="" itemtype="http://schema.org/Event">
                            <div class="simcal-event-details">
                                <p><span class="date-time-label"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452326459" data-event-format="D M j" itemprop="startDate" content="2016-01-09T00:00:59-0800">Sat Jan 9</span><span class="simcal-event-start-time">ALL DAY </span></span><strong><span class="simcal-event-title" itemprop="name">Saturday after Epiphany</span></strong>
                                </p>
                                <div class="event-details">
                                    <div class="event-details-inner">
                                        <div class="detail-item"><span class="event-details-label">When</span><span class="event-when"><span class="simcal-event-start simcal-event-start-date" data-event-start="1452326459" data-event-format="F j, Y">January 9, 2016</span></span>
                                        </div>
                                        <div class="event-links"> <a href="https://calendar.google.com/calendar/event?eid=anU2Ymh2a2Z0MmI0bWc0azFmcWhpZGNnYW8gdmV1ZHAzbHFlcjNqMDB0ZmMwajd1dW5jb2dAZw&amp;ctz=America/Los_Angeles" target="_blank">more details»</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="simcal-ajax-loader simcal-spinner-top" style="display: none;"><i class="simcal-icon-spinner simcal-icon-spin"></i></div>
        </div>
    </div>
</div>