//Article
.article-header {
	h1 {
		font-size: 2.5em;
	}
}

.byline {
	font-size: $font-size-small-2;
	font-style: italic;
	margin-bottom: $space-half;
}

//Social Share
.social-share {
	overflow: hidden;
	margin-bottom: $space;

	li {
		float: left;
		margin-right: $space-half;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: $pad-half;

		&:hover {
			background: $gray;
		}
	}
}

//FUNERAL Page
//TODO REUSE EXISTING ARTICLE CODE? Make generic for pages?
.page-header {
	margin-bottom: 2em;
	margin-top: 80px; //fix for floating header. TODO reevalute this and header solution. this doesn't seem good.
	padding: $space-double $space;
	text-align: center;
	background-color: $red-dark;
	color: white;

	@media all and (min-width: $bp-med) {
		padding: $space-quad $space;
	}

	.page-title {
		font-family: $font-secondary;
		font-size: $font-size-med-3;//TODO evaluate if default H1 should be set to this
		text-transform: uppercase;
		margin: 0 auto $space-quarter;
		max-width: 800px;

		@media all and (min-width: $bp-med) {
			font-size: $font-size-large;
		}
	}

	.page-intro {
		display: block;
		max-width: 800px;
		margin: 0 auto;
		font-size: $font-size-base;

		@media all and (min-width: $bp-med) {
			font-size: $font-size-med;
		}
	}
}
.main-body {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 1em 2em;

	> p {
		font-size: $font-size-base;
	}
}
.callout-notice {
	background-color: $gold-light;
	color: $red-dark;
	padding: $pad;
	margin-bottom: $space-double;
	font-weight: bold;
	border-radius: 4px;

	h2 {
		font-size: $font-size-med; //TODO again, ck if this should be set at h2
	}

	ul:last-child {
		margin-bottom: 0;
	}
}