/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background-color: $red-dark;
	color: $white;
	line-height: 1.2;

	a {
		color: $gray-light;
	}
}
.footer-top {
	margin-top: $space;
	padding: $pad-double;
	background-color: lightgrey;
}
//Footer Nav
.nav-footer {
	margin: (-$pad) (-$pad) $space;

	li {
		border-bottom: 1px solid $gray-dark;

		@media all and (min-width: $bp-med) {
			border: 0;
			float: left;
		}
	}

	a {
		display: block;
		padding: $pad;
	}
}
.footer-bottom {
	margin-top: $space-double;
	padding: $pad-double;
}
.copyright {
	@media all and (min-width: $bp-med) {
		float: right;
	}
}
.colophon {
	clear: left;
	font-size: $font-size-small-2;
}