/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;
	
	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $gray-light-2;
		color: $white;
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;
		font-size: $font-size-med;

		li {
			float: left;
		}

		a {
			border: 0;
		}
		
	}
}
a.nav-toggle {
	color: $white; //override default a color
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}
//social nav
.social-nav a {
  	font-size: 0.875em;
}
.social-nav .fa {
	font-size: 1.416rem;
}