.section {
	margin: $space-double 0;
}
.section-img {
	img {
		//center any image
		display: block;
		margin: 0 auto $space;
	}
}
.section-body {
	max-width: $bp-med;
	margin: 0 auto;

	@media all and (min-width: $bp-med) {
		width: 60%;
	}
}
.section-title {
	margin-bottom: $space-quarter;
	font-size: $font-size-med-4;
	line-height: 1;
	color: $red-dark;
	text-transform: uppercase;

	@media all and (min-width: $bp-med) {
		font-size: $font-size-large-2;
	}
}
.section-title,
.section-desc {
	text-align: center;
}
.section-desc {
	font-size: $font-size-med;
	line-height: 1.25;
	
	@media all and (min-width: $bp-med) {
		font-size: $font-size-med-3;
	}
}

//hours - group of block-headline-list molecules
.hours {
	color: $red-dark;

	.section-title {		
		font-weight: 100;
		position: relative;
		//overwrite for above - TODO fix above
		text-align: left;
		padding-left: $space;
		//vertically center with icon
		line-height: 1.2;
		margin-bottom: 0;
		
		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			content: "\f017";
			font-family: FontAwesome;
  			line-height: 1;
		}

		@media all and (min-width: $bp-med) {

		}
	}
	.intro {
		margin-bottom: 0;
		font-size: $font-size-base-plus;

		@media all and (min-width: $bp-med) {
			margin-bottom: $space-quarter;
		}
	}
}