.section {
	margin: $space-double 0;
}
.section-img {
	img {
		//center any image
		display: block;
		margin: 0 auto $space;
	}
}
.section-body {
	max-width: $bp-med;
	margin: 0 auto;

	// @media all and (min-width: $bp-med) {
	// 	width: $bp-med;
	// }
}
.section-title {
	margin-bottom: $space-quarter;
	font-size: $font-size-med-4;
	line-height: 1;
	color: $red-dark;
	text-transform: uppercase;

	@media all and (min-width: $bp-med) {
		font-size: $font-size-large-2;
	}
}
.section-title,
.section-desc {
	text-align: center;
}
.section-desc {
	font-size: $font-size-med;
	line-height: 1.25;
	
	@media all and (min-width: $bp-med) {
		font-size: $font-size-med-3;
	}
}

//hours - group of block-headline-list molecules
.hours {
	color: $red-dark;

	.section-title {		
		font-weight: 100;
		position: relative;
		//overwrite for above - TODO fix above
		text-align: left;
		padding-left: $space;
		//vertically center with icon
		line-height: 1.2;
		margin-bottom: 0;
		
		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			content: "\f017";
			font-family: FontAwesome;
  			line-height: 1;
		}

		@media all and (min-width: $bp-med) {

		}
	}
	.intro {
		margin-bottom: 0;
		font-size: $font-size-base-plus;

		@media all and (min-width: $bp-med) {
			margin-bottom: $space-quarter;
		}
	}
}

.callout-info {
	background-color: $gold-light;
	color: $red-dark;
	padding: $pad;
	margin-bottom: $space;
	border-radius: 4px;
}
.callout-info--small {
	font-size: $font-size-small-2;
}

.section-person-contact {
	margin-bottom: 2em;

	img {
		width: 100%;
		max-width: 400px;
	}

	.block-contact {
		@media all and (min-width: $bp-small-3) and (max-width: $bp-large){
			display: inline-block;
			margin-left: 2em;
		}
	}
}

//footer bottom section
.footer-bottom {
	padding: $pad-double $pad $pad;
	background-color: $red-dark;
	
	@media all and (min-width: $bp-med) {
		margin-top: $space-double;

		.g {
			display: flex;
		}

		.gi {
			display: flex;
			align-items: center;
		}
	}
	
	a {
		color: $gray-light;
	}

	.logotext {
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 370px;
		fill: $white;
	}

	.copyright {
		@media all and (min-width: $bp-med) {
			float: right;
		}
	}
	.colophon {
		clear: left;
		font-size: $font-size-small-2;
	}
}

// quick resources section
.quick-resources {
	border-bottom: 4px solid $black;
	border-top: 4px solid $black;
	margin: $space 0;
	padding: $pad 0 0;

	.title {
		color: $red-dark;
	}
}