//Intro text
.intro {
	font-size: $font-size-base-plus;
	font-weight: bold;
}

//Blockquote TODO switch to a class?
//a significant block making a reference NOT in the article. text size TBD. Big quote symbol to open
blockquote {
	position: relative;
	padding: 1.5em 1em;
	border-left: 8px solid #931c25;	
	font-family: $font-secondary;
	font-style: normal;
	color: #931c25; //TODO official color

	p {
		padding: 0 60px 0; //TODO Move to blockquote level?
		margin: 0;
		font-size: $font-size-med-3;

	}
	
	> :first-child:before {
		content: '“';
		font-size: $font-size-large-2;
		line-height: 1;
		position: absolute;
		top: 8px;
		left: 16px;
		color: #931c25;
	}

	> :last-child:after {
		content: '”';
		font-size: $font-size-large-2;
		line-height: 1;
		position: absolute;
		right: 0;
		margin: 16px;
		color: #931c25;
	}

	@media all and (max-width: $bp-small-2) {
		p {
			padding: 0 16px 0;
			font-size: $font-size-base;

			&:before {
				font-size: $font-size-med-4;
			}
			&:after {
				font-size: $font-size-med-4;
			}
		}
	}

	.citation {
		font-size: $font-size-base; 
		padding: 0 48px 0;

		@media all and (max-width: $bp-small-2) {
			font-size: $font-size-small-2;
			padding: 0 16px 0;
		}
	}
}

//Pullquote
//a quote pulled out of the article. slightly larger text than paragraph. open and close quote symbols.
blockquote .pullquote {
	font-family: $font-secondary;
	font-size: $font-size-med;
	padding: 1em 0;
	border: none;
	color: #931c25; //TODO official color

	p {
		padding: 0 2.5em 0; //TODO Move to blockquote level?
		margin: 0;
		&:before {
			content: '“';
			font-size: $font-size-large-2;
			line-height: 1;
			position: absolute;
			top: 8px;
			left: 12px;
			color: #931c25;
		}
		&:after {
			content: '”';
			font-size: $font-size-large-2;
			line-height: 1;
	  		position: absolute;
	  		right: 0;
	  		margin: 12px;
	  		color: #931c25;
		}
	}
}

//Caption 
.caption {
	font-style: italic;
}

//Passages of text
.text {
	font-family: $font-secondary;

	p {
		font-size: $font-size-base;
	}

	h2,h3,h4,h5,h6 {
		font-family: $font;
		margin-bottom: 0.5em;
	}
	
	a {
		text-decoration: underline;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;

		ol {
			margin-bottom: 0;
		}
	}
}