{{! structure based off block-thumb-headline }}
<div class="block block-headline-thumb">
	<div class="b-inner">
		<div class="b-headline">
			<h2 class="b-title">{{ headline.short }}</h2>
		</div>
		<div class="b-thumb">
			{{#thumbimage}}
			{{> atoms-landscape-16x9 }}
			{{/thumbimage}}
			{{#thumbvideo}}
			{{> molecules-video-fitvids }}
			{{/thumbvideo}}
		</div>
		<div class="b-text">
			<p>{{{ excerpt.short }}}</p>
			{{# ctasection }}
			<a href="{{ url }}" class="cta">{{ cta }}</a>
			{{/ ctasection }}
		</div>
	</div>
</div>