{{! THIS IS SIMILAR TO BLOCK THUMB HEADLINE PATTERN }}
<div class="block block-affiliate">
	<a href="#" class="b-inner">
		<img src="{{ logomark.src }}" />
		<h2 class="b-title">{{ affiliateName.txt }}</h2>
	</a>
</div>