{{! THIS IS SIMILAR TO BLOCK THUMB HEADLINE PATTERN }}
<div class="block block-affiliate">
	<a href="#" class="b-inner">
		<img src="../../images/SanFranciscoSeal-white.png" />
		<h2 class="b-title">Greek Orthodox Archdiocese of America</h2>
	</a>
</div>