<div class="block block-contact">
	<div class="b-body">
		<h3 id="dept-name" class="b-title"><a href="#dept-name">Department, Title or Person</a></h3>
		<a href="tel:+1.555.555.1212" class="b-phone"><span class="fa fa-phone pull-left"></span>+1.555.555.1212</a>
		<a href="mailto:dept@stsophia.org" class="b-email"><span class="fa fa-envelope pull-left"></span>dept@stsophia.org</a>
	</div>
</div>