<style>
.block {
	margin: 0 auto;
	max-width: 600px;
}
.b-title {
	display: inline-block;
	max-width: 300px;
}
</style>
<div class="block affiliate">
	<a href="#" class="b-inner">
		<img src="../../images/SanFranciscoSeal-white.png" />
		<h2 class="b-title">Greek Orthodox Archdiocese of America</h2>
	</a>
</div>