<div class="latest-entries widget news">
  <h1>News</h1>
  <div>
    <div class="title">Weekly Bulletin</div>
    <a href="#">Jan 1, 2015</a>
  </div>
  <div>
    <div class="title">Monthly Bulletin</div>
    <a href="#">Jan 1, 2015</a>
    <a href="#" class="cta">All Bulletins and News</a>
  </div>
</div>