{{# widget }}
<div class="widget news">
  <h1>{{ widget-heading }}</h1>
  <div>
    <div class="title">{{widget-title}}</div>
    <a href="#">{{widget-entry}}</a>
  </div>
  <a href="#" class="cta">{{widget-cta}}</a>
</div>
{{/ widget }}