<div>
	<h4 class="list-title">{{ headline.xs }}</h4>
	<div class="list-intro">{{ excerpt.xs }}</div>
	<ul class="text-list">
		{{# listItems.four }}
		<li>{{ dayofweek.long }}</li>
		{{/ listItems.four }}
	</ul>
</div>