{{! section start }}
<section class="hours">
	{{! molecules-heading-intro }}
	<h2 class="section-title">Hours</h2>
	<p class="intro"><em>All hours are typical. Check the calendar or call for confirmation. If new or visiting on a Sunday, you are welcome to join us in attending Divine Liturgy.</em></p>
	<div class="g g-4up">
		<div class="gi">
			{{> molecules-block-headline-list }}
		</div>
		<div class="gi">
			{{> molecules-block-headline-list }}
		</div>
		<div class="gi">
			{{> molecules-block-headline-list }}
		</div>
		<div class="gi">
			{{> molecules-block-headline-list }}
		</div>
	</div>
</section>