<div class="contact-options">
	<div class="g g-4up">
		<div class="gi">
			<h3>Contact Us</h3>
			{{> molecules-contact-us }} 
		</div>
		<div class="gi">
			<h3>Visit Us</h3>
			{{> molecules-visit-us }}
		</div>
		<div class="gi">
			<h3>Newsletter</h3>
			<div class="newsletter">
				<span class="fa fa-newspaper-o pull-left"></span>
				<div class="newsletter-pitch">Sign up for our email newsletter</div>
			</div>
		</div>
		<div class="gi">
			<h3>Stay in Touch</h3>
			{{> molecules-social-nav }}
		</div>
	</div>
</div>